<mat-drawer-container class="example-container" autosize>
  <mat-drawer mode="side" opened position="end">
    <div class="nav-bar">
      <div class="nav_user_info">
        <img src="{{userProfile.imageUrl}}">
        <h1 style="margin-top: -2%;">{{userProfile.displayName}}</h1>
        <h4 style="margin-top: -10%;">{{userProfile.email}}</h4>
      </div>
      <div>
        <mat-nav-list>
          <h1 style="text-align: center; font-size: 15px;">MENU</h1>
          <a mat-list-item routerLink="/spotify/" style="margin-top: -15%">
            <mat-icon>home</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Home</span></a>
          <a mat-list-item routerLink="/spotify/search">
            <mat-icon>search</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Search</span></a>
          <br>
          <h1 style="text-align: center; font-size: 15px;">LIBRARY</h1>
          <a mat-list-item routerLink="/spotify/favourite" style="margin-top: -15%">
            <mat-icon>favorite</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Favourites</span>
          </a>
          <br>
          <h1 style="text-align: center; font-size: 15px;">PLAYLIST</h1>
          <a mat-list-item (click)="openDialog()" style="margin-top: -15%">
            <mat-icon>library_add</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Create New</span>
          </a>
        </mat-nav-list>
        <div *ngIf="isShown" class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only" id="loading"></span>
          </div>
        </div>
        <mat-nav-list>
          <div style="height: 150px; overflow-y: auto;">
            <a mat-list-item *ngFor="let playlist of spotifyUserPlaylist"
               (click)="routeToPlaylist(playlist.id)">
              {{ playlist.name }} </a>
          </div>
        </mat-nav-list>
      </div>
    </div>
    <br>
  </mat-drawer>
  <mat-drawer-content class="content">
    <div class="search_container">
      <div class="search_track">
        <div class="search_track_input" *ngIf="!hideTrackSearchBar">
          <div class="search_track_searchbar" >
            <h2>Search for a Track
            </h2>
            <form>
              <mat-form-field class="search_input_field">
                <input matInput placeholder="Search for songs..." #trackquery>
                <button mat-button *ngIf="trackquery.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="clearSearchQuery(); trackquery.value = ''; hideArtistSearchBar = false;">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
              <button mat-raised-button color="primary"
                      (click)="queryTrackByName(trackquery.value); hideArtistSearchBar = true;">
                <mat-icon>search</mat-icon>
              </button>
            </form>
          </div>
          <div class="search_result_container" *ngIf="trackQueryResult!=null" style="height: 500px;">
            <table class="search_result_table">
              <tr *ngFor="let track of trackQueryResult; let i = index">
                <td>{{i + 1}}</td>
                <td><img src="{{track.album.imageUrl}}" width="75"></td>
                <td><p>{{track.name}} <br>
                  <span style="font-size:12px;"
                        *ngFor="let item of track.artistInfo | keyvalue">{{item.value}} </span>
                </p></td>
                <td>{{track.album.name}}</td>
                <td>
                  <button mat-icon-button [matMenuTriggerFor]="menu"
                          aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>playlist_add</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngFor="let playlist of spotifyUserPlaylist"
                            (click)="addToPlaylist(playlist.id, track.spotifyUri)">
                      {{playlist.name}}
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
      <div class="search_artist">
        <div class="search_input" *ngIf="!hideArtistSearchBar">
          <h2>Search for an Artist
          </h2>
          <form>
            <mat-form-field class="search_input_field">
              <input matInput placeholder="Search for artists..." #artistquery>
              <button mat-button *ngIf="artistquery.value" matSuffix mat-icon-button aria-label="Clear"
                      (click)="clearSearchQuery(); artistquery.value = '';">
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>
            <button mat-raised-button color="primary">
              <mat-icon>search</mat-icon>
            </button>
          </form>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>



