.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;

}
.example-margin {
  /*padding-bottom: 10px;*/
  padding-top: 10px;
}


.example-full-width {
  width: 100%;
}


body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

input[type="text"],
input[type='number'],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 300px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
align-content: center;

  /*position: center;*/
  /*text-align: center;*/

}

.asterisk::-webkit-input-placeholder {
  color:    #f00;
}
.asterisk:-moz-placeholder {
  color:    #f00;
  opacity:  1;
}
.asterisk::-moz-placeholder {
  color:    #f00;
  opacity:  1;
}
.asterisk:-ms-input-placeholder {
  color:    #f00;
}

input[type="text"]:focus,
input[type='number']:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;

}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;

}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

button.submit {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
  background: #32508E;

}

button.submit:hover,
button.submit:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.submit:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

.example-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;


}

.example-full-width {
  width: 100%;
}
.full
{
  /*padding-left: 350px;*/

  /*position: center;*/
  /*text-align: center;*/
}
.center3{
  /*padding-left: 40px;*/

}

.create-account-btn{
  padding-left: 80px;

}

.update-form{
  /*padding-left: 50px;*/
  position: center;
  width: 50%;
  margin: auto;
  /*border: 3px solid green;*/
  padding: 10px;
  align-content: center;

}
.update-btn{
  /*padding-left: 90px;*/

}
.center2 {
  margin: auto;
  width: 60%;
  /*padding-left: 10px;*/
  text-align: center;
  /*position:absolute;*/
  /*right:100px;*/
  /*top:30px;*/

}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

.disabled {
  color: #999;
}

button.submit.disabled {
  color: #999;


}

button.disabled{
  color: #999;
}

button.disabled{
  color: #999;

}
button:disabled {
  opacity: 0.5;
  /*color : #C3C3C3;*/
  cursor:none;
  pointer-events: none;
}

.update-btn1{
  padding-left: 40px;
}

input[type="text"],
input[type='number'],
input[type="password"] {
  /*display: block;*/
  /*box-sizing: border-box;*/
  /*margin-bottom: 20px;*/
  /*padding: 4px;*/
  /*width: 300px;*/
  /*height: 32px;*/
  /*border: none;*/
  /*border-bottom: 1px solid #AAA;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-weight: 400;*/
  /*font-size: 15px;*/
  /*transition: 0.2s ease;*/
  /*text-align: center;*/
  display: block;
  margin : 0 auto;


}
.input-field{
  /*position: center;*/
  /*margin-left: 10px;*/
  /*align-content: center;*/
  /*width: 50%;*/
}

.second-update-btn{
  margin-top: 10px;
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
  background: #32508E;
  margin-left: -30px;
}

.back-btn{
  position: absolute;
  display: flex;
  size: 30px;
  /*shape-image-threshold: ;*/
}
