

<!--<br>-->
<!--<div class="center2">-->

<!--  <div class="full">-->
<!--    <div id="login-box">-->
<!--      <div class="left">-->
<!--        <form #userForm='ngForm'>-->
<!--          <div *ngIf="loggedIn !== 'true' else notShow">-->
<!--            <button class="edit-btn-card" (click)="pageBack()"mat-icon-button aria-label="edit-handle-btn">-->
<!--              <mat-icon class="back-btn">arrow_back</mat-icon>-->
<!--            </button>-->
<!--            <h1 class="header">Register Account information below</h1>-->
<!--            <div class="center3">-->

<!--              <input #username type="text" required [(ngModel)]="userModel.name"   (keypress)="omit_special_char($event)" name="userName" minlength="4" placeholder="Name" />-->
<!--              <div *ngIf="firstEmail.errors && (firstEmail.invalid || firstEmail.touched)">-->
<!--                &lt;!&ndash;        <small class="text-danger" *ngIf="firstEmail.errors.required">Email is required</small>&ndash;&gt;-->
<!--                <small class="text-danger" *ngIf="firstEmail.errors.pattern">Please provide a valid email address ex. speh@gmail.com</small>-->
<!--              </div>-->
<!--              <input #email type="text" placeholder="E-mail" #firstEmail="ngModel" [class.is-invalid]="firstEmail.invalid && firstEmail.touched" required-->
<!--                     pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" name="primaryEmail"-->
<!--                     [(ngModel)]="userModel.email" />-->
<!--              &lt;!&ndash;      <input #email type="text" name="email" placeholder="E-mail" />&ndash;&gt;-->
<!--              &lt;!&ndash;      <input #phoneNumber required [(ngModel)]="userModel.phoneNumber"  type="text" (keypress)="omit_special_char($event)" minlength="10" maxlength="12" name="phoneNumber" placeholder="Phone Number" />&ndash;&gt;-->
<!--              <form [formGroup]="myForm">-->
<!--                <input type="password" minlength="4" matInput placeholder="Password" formControlName="password" required>-->
<!--                &lt;!&ndash;          <small class="text-danger" *ngIf="myForm.hasError('required', 'password')">&ndash;&gt;-->
<!--                &lt;!&ndash;            Please enter a password&ndash;&gt;-->
<!--                &lt;!&ndash;          </small>&ndash;&gt;-->
<!--                <small class="text-danger"*ngIf="myForm.hasError('notSame')">-->
<!--                  Passwords do not match-->
<!--                </small>-->
<!--                <div></div>-->
<!--                <input type="password" required [(ngModel)]="userModel.password"  minlength="4" #password matInput placeholder="Confirm Password" formControlName="confirmPassword" [errorStateMatcher]="matcher">-->
<!--              </form>-->
<!--            </div>-->
<!--            <div class="create-account-btn">-->

<!--              &lt;!&ndash;      <button [disabled]="userForm.invalid || myForm.invalid" class="submit"  (click)="signUp(username.value, password.value, email.value, phoneNumber.value)">Sign Up</button>&ndash;&gt;-->
<!--              <button [disabled]="userForm.invalid || myForm.invalid" class="submit"  (click)="signUp(username.value, password.value, email.value)">Sign Up</button>-->

<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->

<!--    <ng-template #notShow>-->
<!--    <span>-->
<!--    <button class="back-btn" (click)="pageBack()"mat-icon-button aria-label="edit-handle-btn">-->
<!--      <mat-icon class="back-btn">arrow_back</mat-icon>-->
<!--    </button>-->
<!--      <h1>-->
<!--        View And Update Account Information-->
<!--      </h1>-->
<!--      </span>-->
<!--      <div class="update-form" >-->
<!--        <form #updateForm='ngForm'>-->
<!--          <mat-hint>Username</mat-hint>-->
<!--          <input class="input-field"#username type="text" required [(ngModel)]="userModel.name"   (keypress)="omit_special_char($event)" name="userName" minlength="4" placeholder="{{user.username}}" />-->
<!--          <div *ngIf="firstEmail.errors && (firstEmail.invalid || firstEmail.touched)">-->
<!--            <small class="text-danger" *ngIf="firstEmail.errors.pattern">Please provide a valid email address ex. speh@gmail.com</small>-->
<!--          </div>-->
<!--          <mat-hint>Email</mat-hint>-->
<!--          <input #email type="text" placeholder="{{user.email}}" #firstEmail="ngModel" [class.is-invalid]="firstEmail.invalid && firstEmail.touched" required-->
<!--                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" name="primaryEmail"-->
<!--                 [(ngModel)]="userModel.email" />-->
<!--          <mat-hint>Phone Number</mat-hint>-->
<!--          <input #phoneNumber type="text" name="lastName" placeholder="{{user.phoneNumber}}"  [(ngModel)]="userModel.phoneNumber" (keypress)="keyPressNumbers($event)"  />-->
<!--        </form>-->
<!--        <section class="example-section">-->
<!--          <mat-checkbox class="example-margin" type="checkbox" [(ngModel)]="showHidePassword">Show/Update Password</mat-checkbox>-->
<!--        </section>-->
<!--        <div class="center" *ngIf="showHidePassword">-->
<!--          <form [formGroup]="myForm">-->
<!--            <mat-hint>Password</mat-hint>-->
<!--            <input type="password" minlength="4" matInput placeholder="{{user.password}}" formControlName="password" required>-->
<!--            <mat-hint>Confirm New Password</mat-hint>-->
<!--            <small class="text-danger"*ngIf="myForm.hasError('notSame')">-->
<!--              Passwords do not match-->
<!--            </small>-->
<!--            <input #password type="password" required [(ngModel)]="userModel.password"  minlength="4" #password matInput placeholder="Confirm Password" formControlName="confirmPassword" [errorStateMatcher]="matcher">-->

<!--            <div class="update-btn1">-->
<!--              <button class="submit" [hidden]="showHidePassword" (click)="update(username.value, email.value, phoneNumber.value, password.value)">Update Account</button>-->
<!--              <button class="second-update-btn" [disabled]="userModel.name.length < 4 && !userModel.email.includes('.com') && userModel.phoneNumber.length < 10 && myForm.invalid"  (click)="update(username.value, email.value, phoneNumber.value, password.value )">Update Account</button>-->

<!--            </div>-->
<!--          </form>-->

<!--        </div>-->
<!--      </div>-->

<!--      <div class="center" *ngIf="!showHidePassword">-->
<!--        <div class="update-btn">-->
<!--          &lt;!&ndash;    <button class="submit" (click)="update(username.value, email.value, phoneNumber.value, password.value)">Update Account</button>&ndash;&gt;-->
<!--          <button [disabled]="userModel.name.length < 4 && !userModel.email.includes('.com') && userModel.phoneNumber.length < 10" class="submit" (click)="updateWithoutPassword(username.value, email.value, phoneNumber.value)">Update Account</button>-->


<!--          <ngx-dropzone (change)="onSelect($event)">-->
<!--            <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>-->
<!--            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">-->
<!--              <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>-->
<!--            </ngx-dropzone-preview>-->
<!--          </ngx-dropzone>-->
<!--          &lt;!&ndash;      </div>&ndash;&gt;-->
<!--          &lt;!&ndash;      <label class="image-upload-container btn btn-bwm">&ndash;&gt;-->
<!--          &lt;!&ndash;        <span>Select Image</span>&ndash;&gt;-->
<!--          &lt;!&ndash;        <input #imageInput&ndash;&gt;-->
<!--          &lt;!&ndash;               type="file"&ndash;&gt;-->
<!--          &lt;!&ndash;               accept="image/*"&ndash;&gt;-->
<!--          &lt;!&ndash;               (change)="processFile(imageInput)">&ndash;&gt;-->
<!--          &lt;!&ndash;      </label>&ndash;&gt;-->
<!--          &lt;!&ndash;      <label class="image-upload-container btn btn-bwm">&ndash;&gt;-->
<!--          &lt;!&ndash;        <span>Select Image</span>&ndash;&gt;-->
<!--          &lt;!&ndash;        <input #imageInput&ndash;&gt;-->
<!--          &lt;!&ndash;               type="file"&ndash;&gt;-->
<!--          &lt;!&ndash;               accept="image/*"&ndash;&gt;-->
<!--          &lt;!&ndash;               (change)="onFileSelected($event)">&ndash;&gt;-->
<!--          &lt;!&ndash;      </label>&ndash;&gt;-->
<!--          &lt;!&ndash;      <button type="button" (click)="onUpload()"> Upload </button>&ndash;&gt;-->
<!--          &lt;!&ndash;    </div>&ndash;&gt;-->
<!--          &lt;!&ndash;  </ng-template>&ndash;&gt;-->
<!--          &lt;!&ndash;</div>&ndash;&gt;-->
<!--          &lt;!&ndash;</div>&ndash;&gt;-->






<!--          &lt;!&ndash;    <ng-template #notShow>&ndash;&gt;-->
<!--          &lt;!&ndash;      <h1>View And Update Account Information</h1>&ndash;&gt;-->
<!--          &lt;!&ndash;      <div class="update-form" >&ndash;&gt;-->
<!--          &lt;!&ndash;        <form #userForm='ngForm'>&ndash;&gt;-->
<!--          &lt;!&ndash;          <mat-hint>Username</mat-hint>&ndash;&gt;-->
<!--          &lt;!&ndash;          <input #username type="text" (keypress)="omit_special_char($event)" name="userName" minlength="4" placeholder="{{user.username}}" />&ndash;&gt;-->
<!--          &lt;!&ndash;          <div *ngIf="firstEmail.errors && (firstEmail.invalid || firstEmail.touched)">&ndash;&gt;-->
<!--          &lt;!&ndash;            <mat-hint>Email</mat-hint>&ndash;&gt;-->
<!--          &lt;!&ndash;          </div>&ndash;&gt;-->
<!--          &lt;!&ndash;          <small class="text-danger" *ngIf="firstEmail.errors.pattern">Please provide a valid email address ex. speh@gmail.com</small>&ndash;&gt;-->
<!--          &lt;!&ndash;          <input #email type="text" placeholder="E-mail" #firstEmail="ngModel" [class.is-invalid]="firstEmail.invalid && firstEmail.touched" required&ndash;&gt;-->
<!--          &lt;!&ndash;                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" name="primaryEmail"&ndash;&gt;-->
<!--          &lt;!&ndash;                 [(ngModel)]="userModel.email" placeholder="{{user.email}}" />&ndash;&gt;-->
<!--          &lt;!&ndash;          <mat-hint>Phone Number</mat-hint>&ndash;&gt;-->
<!--          &lt;!&ndash;          <input #phoneNumber type="text" name="lastName" placeholder="{{user.phoneNumber}}" />&ndash;&gt;-->
<!--          &lt;!&ndash;          <mat-hint>Password</mat-hint>&ndash;&gt;-->
<!--          &lt;!&ndash;          <input #password type="password" name="lastName" placeholder="{{user.password}}" />&ndash;&gt;-->
<!--          &lt;!&ndash;        </form>&ndash;&gt;-->

<!--          &lt;!&ndash;      </div>&ndash;&gt;-->

<!--          &lt;!&ndash;      <div class="update-btn">&ndash;&gt;-->
<!--          &lt;!&ndash;        <button class="submit" (click)="update(username.value, email.value, phoneNumber.value, password.value)">Update Account</button>&ndash;&gt;-->
<!--          &lt;!&ndash;      </div>&ndash;&gt;-->










<!--          &lt;!&ndash;    <form class="example-form">&ndash;&gt;-->
<!--          &lt;!&ndash;      <mat-form-field class="example-full-width">&ndash;&gt;-->
<!--          &lt;!&ndash;        <mat-label>Favorite food</mat-label>&ndash;&gt;-->
<!--          &lt;!&ndash;        <input matInput placeholder="Ex. Pizza" value="Sushi">&ndash;&gt;-->
<!--          &lt;!&ndash;      </mat-form-field>&ndash;&gt;-->

<!--          &lt;!&ndash;      <mat-form-field class="example-full-width">&ndash;&gt;-->
<!--          &lt;!&ndash;        <mat-label>Leave a comment</mat-label>&ndash;&gt;-->
<!--          &lt;!&ndash;        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>&ndash;&gt;-->
<!--          &lt;!&ndash;      </mat-form-field>&ndash;&gt;-->
<!--          &lt;!&ndash;    </form>&ndash;&gt;-->

<!--          &lt;!&ndash;    </ng-template>&ndash;&gt;-->
<!--          &lt;!&ndash;</div>&ndash;&gt;-->
<!--          &lt;!&ndash;</div>&ndash;&gt;-->


<!--          &lt;!&ndash;<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"&ndash;&gt;-->
<!--          &lt;!&ndash;        (click)="showFrame()" mdbWavesEffect>Launch Modal</button>&ndash;&gt;-->

<!--          &lt;!&ndash;<div *ngIf="modalDisplayed" mdbModal class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"&ndash;&gt;-->
<!--          &lt;!&ndash;     aria-labelledby="myModalLabel" aria-hidden="true">&ndash;&gt;-->
<!--          &lt;!&ndash;  <div class="modal-dialog" role="document">&ndash;&gt;-->
<!--          &lt;!&ndash;    <div class="modal-content">&ndash;&gt;-->
<!--          &lt;!&ndash;      <div class="modal-header text-center">&ndash;&gt;-->
<!--          &lt;!&ndash;        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>&ndash;&gt;-->
<!--          &lt;!&ndash;        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideFrame()">&ndash;&gt;-->
<!--          &lt;!&ndash;          <span aria-hidden="true">&times;</span>&ndash;&gt;-->
<!--          &lt;!&ndash;        </button>&ndash;&gt;-->
<!--          &lt;!&ndash;      </div>&ndash;&gt;-->
<!--          &lt;!&ndash;      <div class="modal-body mx-3">&ndash;&gt;-->
<!--          &lt;!&ndash;        <div class="md-form mb-5">&ndash;&gt;-->
<!--          &lt;!&ndash;          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>&ndash;&gt;-->
<!--          &lt;!&ndash;          <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"&ndash;&gt;-->
<!--          &lt;!&ndash;                 mdbInput mdbValidate>&ndash;&gt;-->
<!--          &lt;!&ndash;          <label for="defaultForm-email">Your email</label>&ndash;&gt;-->
<!--          &lt;!&ndash;          <mdb-error&ndash;&gt;-->
<!--          &lt;!&ndash;            *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">&ndash;&gt;-->
<!--          &lt;!&ndash;            Input invalid&ndash;&gt;-->
<!--          &lt;!&ndash;          </mdb-error>&ndash;&gt;-->
<!--          &lt;!&ndash;&lt;!&ndash;          <mdb-success&ndash;&gt;&ndash;&gt;-->
<!--          &lt;!&ndash;&lt;!&ndash;            *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input&ndash;&gt;&ndash;&gt;-->
<!--          &lt;!&ndash;&lt;!&ndash;            valid&ndash;&gt;&ndash;&gt;-->
<!--          &lt;!&ndash;&lt;!&ndash;          </mdb-success>&ndash;&gt;&ndash;&gt;-->
<!--          &lt;!&ndash;        </div>&ndash;&gt;-->

<!--          &lt;!&ndash;        <div class="md-form mb-4">&ndash;&gt;-->
<!--          &lt;!&ndash;          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>&ndash;&gt;-->
<!--          &lt;!&ndash;          <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"&ndash;&gt;-->
<!--          &lt;!&ndash;                 mdbInput mdbValidate>&ndash;&gt;-->
<!--          &lt;!&ndash;          <label for="defaultForm-pass">Your password</label>&ndash;&gt;-->
<!--          &lt;!&ndash;          <mdb-error&ndash;&gt;-->
<!--          &lt;!&ndash;            *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">&ndash;&gt;-->
<!--          &lt;!&ndash;            Input invalid&ndash;&gt;-->
<!--          &lt;!&ndash;          </mdb-error>&ndash;&gt;-->
<!--          &lt;!&ndash;          <mdb-success&ndash;&gt;-->
<!--          &lt;!&ndash;            *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">&ndash;&gt;-->
<!--          &lt;!&ndash;            Input valid&ndash;&gt;-->
<!--          &lt;!&ndash;          </mdb-success>&ndash;&gt;-->
<!--          &lt;!&ndash;        </div>&ndash;&gt;-->

<!--          &lt;!&ndash;      </div>&ndash;&gt;-->
<!--          &lt;!&ndash;      <div class="modal-footer d-flex justify-content-center">&ndash;&gt;-->
<!--          &lt;!&ndash;        <button mdbBtn color="default" class="waves-light" mdbWavesEffect>Login</button>&ndash;&gt;-->
<!--          &lt;!&ndash;      </div>&ndash;&gt;-->
<!--          &lt;!&ndash;    </div>&ndash;&gt;-->
<!--          &lt;!&ndash;  </div>&ndash;&gt;-->
<!--          &lt;!&ndash;</div>&ndash;&gt;-->



<!--          &lt;!&ndash;<main id="logout-button-holder">&ndash;&gt;-->
<!--          &lt;!&ndash;  <button mat-raised-button id="logout-button" (click)="openModal()">Launch Signup Moal</button>&ndash;&gt;-->
<!--          &lt;!&ndash;</main>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-template>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;<main id="logout-button-holder">&ndash;&gt;-->
<!--&lt;!&ndash;  <button mat-raised-button id="logout-button" (click)="openModal()">Launch Signup Modal</button>&ndash;&gt;-->
<!--&lt;!&ndash;</main>&ndash;&gt;-->
