<mat-drawer-container class="example-container" autosize>
  <mat-drawer mode="side" opened position="end">
    <div class="nav-bar">
      <div class="nav_user_info">
        <img src="{{spotifyUser.imageUrl}}">
        <h1 style="margin-top: -2%;">{{spotifyUser.displayName}}</h1>
        <h4 style="margin-top: -10%;">{{spotifyUser.email}}</h4>
      </div>
      <div>
        <mat-nav-list>
          <h1 style="text-align: center; font-size: 15px;">MENU</h1>
          <a mat-list-item routerLink="/spotify/" style="margin-top: -15%">
            <mat-icon>home</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Home</span></a>
          <a mat-list-item routerLink="/spotify/search">
            <mat-icon>search</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Search</span></a>
          <br>
          <h1 style="text-align: center; font-size: 15px;">LIBRARY</h1>
          <a mat-list-item routerLink="/spotify/favourite" style="margin-top: -15%">
            <mat-icon>favorite</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Favourites</span>
          </a>
          <br>
          <h1 style="text-align: center; font-size: 15px;">PLAYLIST</h1>
          <a mat-list-item (click)="openDialog()">
            <mat-icon>library_add</mat-icon>
            <span style="font-size:16px; padding-left: 15px;">Create New</span>
          </a>
        </mat-nav-list>
        <div *ngIf="isShown" class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only" id="loading"></span>
          </div>
        </div>
        <mat-nav-list>
          <div style="height: 150px; overflow-y: auto;">
            <a mat-list-item *ngFor="let playlist of spotifyUserPlaylist"
               (click)="routeToPlaylist(playlist.id)">
              {{ playlist.name }} </a>
          </div>
        </mat-nav-list>
      </div>
    </div>
    <br>
  </mat-drawer>
  <mat-drawer-content style="width: 100%;">

    <div class="favourites_page_container" fxLayout="column">

      <div class="favourite_tracks_container" *ngIf="!showAllAlbums && !showAllArtists">
        <h1
          style="font-size: 25px; margin-left: 1%; margin-top: .5%; display: flex; flex-direction: row; justify-content: space-between;">
          Favourite Tracks <span
          style="font-size: 15px; color: #191970; margin-right: 1%;"
          (click)="showAllTracks = !showAllTracks;"> See all</span></h1>
        <h4 style="font-size: 15px; margin-top: -1.5%; margin-left: 1%;">{{favouriteTracks.length}} Songs</h4>
        <div class="favourite_tracks_snapshot" *ngIf="!showAllTracks">
          <table class="songlist">
            <tr *ngFor="let track of favouriteTracks; let i = index" class="tracksData">
              <td>{{i + 1}}</td>
              <td><img src="{{track.album.imageUrl}}" width="75"></td>
              <td><p>{{track.name}} <br>
                <span style="font-size:12px;"
                      *ngFor="let item of track.artistInfo | keyvalue">{{item.value}} </span>
              </p></td>
              <td>{{transform(track.duration)}}</td>
              <td>
                <button mat-icon-button [matMenuTriggerFor]="artistMenu"
                        #artistToolTip="matTooltip"
                        matTooltip="Get more information on the artist(s)">
                  <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #artistMenu="matMenu">
                  <button mat-menu-item *ngFor="let artist of track.artistInfo | keyvalue"
                          (click)="routeToArtist(artist.key)">
                    {{artist.value}}
                  </button>
                </mat-menu>
              </td>
              <td>
                <button mat-icon-button
                        (click)="unfollowTrack(track.id);"
                        color="warn" #favouritesToolTip="matTooltip" matTooltip="Unfavourite this Track">
                  <mat-icon>favorite</mat-icon>
                </button>
              </td>
              <td>
                <button mat-icon-button [matMenuTriggerFor]="playlistMenu"
                        #playlistToolTip="matTooltip"
                        matTooltip="Add this track to your playlist">
                  <mat-icon>playlist_add</mat-icon>
                </button>
                <mat-menu #playlistMenu="matMenu">
                  <button mat-menu-item *ngFor="let playlist of spotifyUserPlaylist"
                          (click)="addToPlaylist(playlist.id, track.spotifyUri)">
                    {{playlist.name}}
                  </button>
                </mat-menu>
              </td>
            </tr>
          </table>
        </div>

        <div class="favourite_tracks" *ngIf="showAllTracks">
          <table class="songlist">
            <tr *ngFor="let track of favouriteTracks; let i = index" class="tracksData">
              <td>{{i + 1}}</td>
              <td><img src="{{track.album.imageUrl}}" width="75"></td>
              <td><p>{{track.name}} <br>
                <span style="font-size:12px;"
                      *ngFor="let item of track.artistInfo | keyvalue">{{item.value}} </span>
              </p></td>
              <td>{{transform(track.duration)}}</td>
              <td>
                <button mat-icon-button [matMenuTriggerFor]="artistMenu"
                        #artistToolTip="matTooltip"
                        matTooltip="Get more information on the artist(s)">
                  <mat-icon>person_outline</mat-icon>
                </button>
                <mat-menu #artistMenu="matMenu">
                  <button mat-menu-item *ngFor="let artist of track.artistInfo | keyvalue"
                          (click)="routeToArtist(artist.key)">
                    {{artist.value}}
                  </button>
                </mat-menu>
              </td>
              <td>
                <button mat-icon-button
                        (click)="unfollowTrack(track.id);"
                        color="warn" #favouritesToolTip="matTooltip" matTooltip="Unfavourite this Track">
                  <mat-icon>favorite</mat-icon>
                </button>
              </td>
              <td>
                <button mat-icon-button [matMenuTriggerFor]="playlistMenu"
                        #playlistToolTip="matTooltip"
                        matTooltip="Add this track to your playlist">
                  <mat-icon>playlist_add</mat-icon>
                </button>
                <mat-menu #playlistMenu="matMenu">
                  <button mat-menu-item *ngFor="let playlist of spotifyUserPlaylist"
                          (click)="addToPlaylist(playlist.id, track.spotifyUri)">
                    {{playlist.name}}
                  </button>
                </mat-menu>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="favourite_artists_container" *ngIf="!showAllAlbums && !showAllTracks">
        <h1
          style="font-size: 25px; margin-left: 1%; margin-top: .5%; display: flex; flex-direction: row; justify-content: space-between;">
          Favourite Artists <span
          style="font-size: 15px; color: #191970; margin-right: 1%;"
          (click)="showAllArtists = !showAllArtists;"> See all</span></h1>
        <h4 style="font-size: 15px; margin-top: -1.5%; margin-left: 1%;">{{favouriteArtists.length}} Artists</h4>
        <div class="favourite_artists_snapshot_table_container" *ngIf="!showAllArtists">
          <table>
            <tr>
              <td *ngFor="let artist of favouriteArtists">
                <mat-card class="favourite_artists_card" (click)="routeToArtist(artist.id)"
                          #artistCardToolTip="matTooltip"
                          matTooltip="Get More Information on {{artist.name}}">
                  <mat-card-content class="favourite_artists_card_content">
                    <img src="{{artist.imageUrl}}" width="155" height="155"
                         style="border-radius: 50%; margin-top: -5%;">
                    <div class="favourite_artists_card_details" fxLayout="column">
                      <h1
                        style="font-size: 14px; white-space: nowrap; width: 150px; overflow: hidden; text-overflow: ellipsis; margin-top: -3%;">
                        {{artist.name}}</h1>
                    </div>
                  </mat-card-content>
                </mat-card>
              </td>
            </tr>
          </table>
        </div>
        <div class="favourite_artists_table_container" *ngIf="showAllArtists">
          <ul style="display: flex; flex-wrap: wrap;  list-style: none;">
            <li *ngFor="let artist of favouriteArtists">
              <mat-card class="favourite_artists_card"
                        (click)="routeToArtist(artist.id)" #artistCardToolTip="matTooltip"
                        matTooltip="Get More Information on {{artist.name}}">
                <mat-card-content class="favourite_artists_card_content">
                  <img src="{{artist.imageUrl}}" width="155" height="155" style="border-radius: 50%; margin-top: -5%;">
                  <div class="favourite_artists_card_details">
                    <h1
                      style="font-size: 14px; white-space: nowrap; width: 150px; overflow: hidden; text-overflow: ellipsis; margin-top: -3%;">
                      {{artist.name}}</h1>
                  </div>
                </mat-card-content>
              </mat-card>
            </li>
          </ul>

          <!--          <h1-->
          <!--            style="font-size: 25px; margin-left: 1%; margin-top: .5%; display: flex; flex-direction: row; justify-content: space-between;">-->
          <!--            Favourite Artists <span-->
          <!--            style="font-size: 15px; color: #191970; margin-right: 1%;"-->
          <!--            (click)="showAllArtists = !showAllArtists;"> See all</span></h1>-->
          <!--          <h4 style="font-size: 15px; margin-top: -1.5%; margin-left: 1%;">{{favouriteArtists.length}} Artists</h4>-->
          <!--          <div fxLayout="row wrap">-->
          <!--            <mat-card *ngFor="let artist of favouriteArtists" fxFlex="50" class="favourite_artists_card"-->
          <!--                      (click)="routeToArtist(artist.id)">-->
          <!--              <mat-card-content class="favourite_artists_card_content">-->
          <!--                <img src="{{artist.imageUrl}}" width="155" height="155" style="border-radius: 50%;">-->
          <!--                <div class="favourite_artists_card_details" fxLayout="column">-->
          <!--                  <h1-->
          <!--                    style="font-size: 14px; white-space: nowrap; width: 150px; overflow: hidden; text-overflow: ellipsis; margin-top: -6%;">-->
          <!--                    {{artist.name}}</h1>-->
          <!--                </div>-->
          <!--              </mat-card-content>-->
          <!--            </mat-card>-->
          <!--          </div>-->

        </div>
      </div>

      <div class="favourite_albums_container" *ngIf="!showAllArtists && !showAllTracks">
        <h1
          style="font-size: 25px; margin-left: 1%; margin-top: .5%; display: flex; flex-direction: row; justify-content: space-between;">
          Favourite Albums <span
          style="font-size: 15px; color: #191970; margin-right: 1%;"
          (click)="showAllAlbums = !showAllAlbums;"> See all</span></h1>
        <h4 style="font-size: 15px; margin-top: -1.5%; margin-left: 1%;">{{favouriteAlbums.length}} Albums</h4>
        <div class="favourite_albums_snapshot_table_container" *ngIf="!showAllAlbums">
          <table>
            <tr>
              <td *ngFor="let album of favouriteAlbums" class="favourite_albums_card_container">
                <mat-card class="favourite_albums_card">
                  <mat-card-content class="favourite_albums_content">
                    <img src="{{album.imageUrl}}" width="125">
                    <div fxLayout="column">
                      <h1
                        style="font-size: 14px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -6%;">
                        {{album.name}}</h1>
                      <h4
                        style="font-size: 11px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -28%;">
                        {{album.artistNames}}</h4>
                    </div>
                  </mat-card-content>
                </mat-card>
              </td>
            </tr>
          </table>
        </div>

        <div *ngIf="showAllAlbums">
          <ul style="display: flex; flex-wrap: wrap;  list-style: none;">
            <li *ngFor="let album of favouriteAlbums">
              <mat-card class="favourite_albums_card">
                <mat-card-content class="favourite_albums_content">
                  <img src="{{album.imageUrl}}" width="125">
                  <div fxLayout="column">
                    <h1
                      style="font-size: 14px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -6%;">
                      {{album.name}}</h1>
                    <h4
                      style="font-size: 11px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -28%;">
                      {{album.artistNames}}</h4>
                  </div>
                </mat-card-content>
              </mat-card>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </mat-drawer-content>
</mat-drawer-container>
