<mat-card>
  <mat-card-header>
    <mat-card-title>Update Playlist</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form (ngSubmit)="submitForm(data.id)" [formGroup]="updatePlaylistForm">
      <mat-form-field appearance="fill">
        <mat-label>Playlist Name</mat-label>
        <input matInput formControlName="playlist_name" required>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="playlist_description"></textarea>
      </mat-form-field>
      <br>
      <mat-card-actions>
        <button mat-button mat-dialog-close>Cancel</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!updatePlaylistForm.valid" mat-dialog-close>
          Update Playlist
        </button>
      </mat-card-actions>
    </form>

  </mat-card-content>
</mat-card>
