<mat-drawer-container class="example-container" autosize>
  <mat-drawer mode="side" opened>
    <div class="nav-bar">
      <mat-nav-list>
        <a mat-list-item routerLink="/spotify/">
          <mat-icon>home</mat-icon>
          <span style="font-size:17px; padding-left: 15px;">Home</span></a>
        <a mat-list-item routerLink="/spotify/search"> Search Track</a>
        <a mat-list-item routerLink="/spotify/artist"> Search Artist</a>
        <br>
        <a mat-list-item (click)="openDialog()">
          <mat-icon>library_add</mat-icon>
          <span style="font-size:17px; padding-left: 15px;">Create Playlist</span>
        </a>
        <a mat-list-item routerLink="/spotify/user/follow/tracks">
          <mat-icon>favorite</mat-icon>
          <span style="font-size:17px; padding-left: 15px;">Liked Songs</span>
        </a>
      </mat-nav-list>
      <hr>
      <h2 style="padding-left: 10px;">Playlists</h2>
      <div *ngIf="isShown" class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
          <span class="sr-only" id="loading"></span>
        </div>
      </div>
      <mat-nav-list>
        <a mat-list-item *ngFor="let playlist of spotifyUserPlaylist"
           (click)="routeToPlaylist(playlist.id)"> {{ playlist.name }} </a>
        <br>
        <!--        <hr>-->
        <!--        <button mat-icon-button (click)="openDialog()" style="padding-left: 7px;">-->
        <!--          <mat-icon>library_add</mat-icon>-->
        <!--          <span style="font-size:17px; padding-left: 7px;">Create Playlist</span>-->
        <!--        </button>-->
      </mat-nav-list>
    </div>
    <br>
  </mat-drawer>
  <mat-drawer-content>

    <div class="card-container" fxLayout="column" fxLayoutAlign="space-evenly end">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title><img src="{{spotifyUser.imageUrl}}" class="img-circle"> {{spotifyUser.displayName}}
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>


    <!--        <div class="user-info">-->
    <!--          <div class="container-fluid well span6">-->
    <!--            <div class="row-fluid">-->
    <!--              <div class="span2">-->
    <!--                <img src="{{spotifyUser.imageUrl}}" class="img-circle">-->
    <!--              </div>-->

    <!--              <div class="span8">-->
    <!--                <h3>{{spotifyUser.displayName}}</h3>-->
    <!--                <h6>Email: {{spotifyUser.email}}</h6>-->
    <!--                <h6>Spotify URL: {{spotifyUser.spotifyUrl}}</h6>-->
    <!--                <h6>Country: {{spotifyUser.country}}</h6>-->
    <!--                <h6>Birthdate: {{spotifyUser.birthdate}}</h6>-->
    <!--              </div>-->
    <!--            </div>-->
    <!--          </div>-->
    <!--        </div>-->
  </mat-drawer-content>
</mat-drawer-container>

<!--<div class="nav-bar">-->
<!--  <mat-nav-list>-->
<!--    <a mat-list-item routerLink="/userinfo"> User Info</a>-->
<!--    <a mat-list-item routerLink="/search"> Search Track</a>-->
<!--    <a mat-list-item routerLink="/artist"> Search Artist</a>-->
<!--  </mat-nav-list>-->
<!--  <br>-->
<!--  <hr>-->

<!--  <h2>Playlists</h2>-->
<!--  <mat-nav-list>-->
<!--    <a mat-list-item *ngFor="let playlist of spotifyUserPlaylist"-->
<!--       (click)="routeToPlaylist(playlist.id)"> {{ playlist.name }} </a>-->
<!--    <br>-->
<!--    <hr>-->
<!--    <a mat-list-item routerLink="/spotify/playlist/add"> Create New Playlist</a>-->
<!--  </mat-nav-list>-->

<!--</div>-->

<!--<table>-->
<!--  <thead>-->
<!--  <th>Name</th>-->
<!--  <th>URL</th>-->
<!--  <th>Image</th>-->
<!--  </thead>-->
<!--  <tbody *ngFor="let playlist of spotifyUserPlaylist">-->
<!--  <tr>-->
<!--    <td (click) = routeToPlaylist(playlist.id)> {{playlist.name}}</td>-->
<!--    <td>{{playlist.spotifyUrl}}</td>-->
<!--    <td><img src="{{playlist.imageUrl}}"></td>-->
<!--  </tr>-->
<!--&lt;!&ndash;  <tr *ngFor="let track of playlist.tracks">&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{track.name}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{track.artistNames}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{track.spotifyUrl}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;    <td>{{track.duration}}</td>&ndash;&gt;-->
<!--&lt;!&ndash;  </tr>&ndash;&gt;-->
<!--  </tbody>-->
<!--</table>-->

<!--<div class="form-inline justify-content-center mb-3">-->
<!--  <input type="search" #newquery [value]="artistSearchName"-->
<!--         class="form-control form-control-lg w-75"-->
<!--         placeholder="enter artist name...">-->
<!--  <button (click)="queryArtist(newquery.value)" class="btn btn-primary btn-lg ml-3" type="button">Search</button>-->
<!--</div>-->
<!--  <table>-->
<!--    <thead>-->
<!--    <th>Name</th>-->
<!--    <th>URL</th>-->
<!--    <th>Followers</th>-->
<!--    <th>Image</th>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let artist of artistQuery">-->
<!--      <td>{{artist.name}}</td>-->
<!--      <td>{{artist.spotifyUrl}}</td>-->
<!--      <td>{{artist.followers}}</td>-->
<!--      <td><img src="{{artist.imageUrl}}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->

<!--<div class="form-inline justify-content-center mb-3">-->
<!--  <input type="search" #trackquery [value]="trackSearchName"-->
<!--         class="form-control form-control-lg w-75"-->
<!--         placeholder="enter song title name...">-->
<!--  <button (click)="queryTrack(trackquery.value)" class="btn btn-primary btn-lg ml-3" type="button">Search</button>-->
<!--</div>-->
<!--<table>-->
<!--  <thead>-->
<!--  <th>Name</th>-->
<!--  <th>Artists Name</th>-->
<!--  <th>Spotify Url</th>-->
<!--  <th>Duration</th>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr *ngFor="let track of trackQuery">-->
<!--    <td>{{track.name}}</td>-->
<!--    <td>{{track.artistNames}}</td>-->
<!--    <td>{{track.spotifyUrl}}</td>-->
<!--    <td>{{track.duration}} ms</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
