<mat-drawer-container class="example-container" autosize>
  <mat-drawer mode="side" opened position="end">
    <div class="nav-bar">
      <div class="nav_user_info">
        <img src="{{spotifyUser?.imageUrl}}">
        <h1 style="margin-top: -2%;">{{spotifyUser?.displayName}}</h1>
        <h4 style="margin-top: -10%;">{{spotifyUser?.email}}</h4>
      </div>
      <div>
        <mat-nav-list>
          <h1 style="text-align: center; font-size: 15px;">MENU</h1>
          <a mat-list-item routerLink="/spotify/" style="margin-top: -15%">
            <mat-icon>home</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Home</span></a>
          <a mat-list-item routerLink="/spotify/search">
            <mat-icon>search</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Search</span></a>
          <br>
          <h1 style="text-align: center; font-size: 15px;">LIBRARY</h1>
          <a mat-list-item routerLink="/spotify/favourite" style="margin-top: -15%">
            <mat-icon>favorite</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Favourites</span>
          </a>
          <br>
          <h1 style="text-align: center; font-size: 15px;">PLAYLIST</h1>
          <a mat-list-item (click)="openDialog()">
            <mat-icon>library_add</mat-icon>
            <span style="font-size:16px; padding-left: 15px;">Create New</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <div style="height: 150px; overflow-y: auto;" *ngIf="spotifyUserPlaylist else loading">
            <a mat-list-item *ngFor="let playlist of spotifyUserPlaylist"
               (click)="routeToPlaylist(playlist.id)">
              {{ playlist?.name }} </a>
          </div>
        </mat-nav-list>
      </div>
    </div>
    <br>
  </mat-drawer>
  <mat-drawer-content>
    <!--    *ngIf="featuredPlaylists && newRealeaseAlbums && userRecentTracks && userTopTracks else loading"-->
    <div class="home_page_container" fxLayout="column">

      <div class="new_releases_container" *ngIf="!showAllNewReleaseAlbums">
        <h1
          style="font-size: 25px; margin-left: 1%; margin-top: .5%; display: flex; flex-direction: row; justify-content: space-between;">
          New Album Releases <span
          style="font-size: 15px; color: #191970; margin-right: 1%;"
          (click)="showAllNewReleaseAlbums = !showAllNewReleaseAlbums;"> See all</span></h1>
        <!--        *ngIf="newRealeaseAlbums | async as album; else loading;"-->
        <div class="new_releases_table_container" *ngIf="newRealeaseAlbums else loading">
          <table>
            <tr>
              <td *ngFor="let album of newRealeaseAlbums" class="new_releases_card_container">
                <mat-card class="new_releases_card">
                  <mat-card-content class="new_releases_content">
                    <img src="{{album?.imageUrl}}" width="125">
                    <div fxLayout="column">
                      <h1
                        style="font-size: 14px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -6%;">
                        {{album?.name}}</h1>
                      <h4
                        style="font-size: 11px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -28%;">
                        {{album?.artistNames}}</h4>
                    </div>
                  </mat-card-content>
                </mat-card>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div *ngIf="showAllNewReleaseAlbums" class="new_releases_container">
        <h1
          style="font-size: 25px; margin-left: 1%; margin-top: .5%; display: flex; flex-direction: row; justify-content: space-between;">
          New Album Releases <span
          style="font-size: 15px; color: #191970; margin-right: 1%;"
          (click)="showAllNewReleaseAlbums = !showAllNewReleaseAlbums;"> Collapse</span></h1>
        <div class="new_releases_table_container" *ngIf="newRealeaseAlbums else loading">
          <ul style="display: flex; flex-wrap: wrap;  list-style: none;">
            <li *ngFor="let album of newRealeaseAlbums" class="new_releases_card_container">
              <mat-card class="new_releases_card">
                <mat-card-content class="new_releases_content">
                  <img src="{{album?.imageUrl}}" width="125">
                  <div fxLayout="column">
                    <h1
                      style="font-size: 14px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -6%;">
                      {{album?.name}}</h1>
                    <h4
                      style="font-size: 11px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -28%;">
                      {{album?.artistNames}}</h4>
                  </div>
                </mat-card-content>
              </mat-card>
            </li>
          </ul>
        </div>
      </div>

      <div class="featured_playlist_container" *ngIf="!showAllFeaturedPlaylists">
        <h1
          style="font-size: 25px; margin-left: 1%; margin-top: .5%; display: flex; flex-direction: row; justify-content: space-between;">
          Featured Playlists <span
          style="font-size: 15px; color: #191970; margin-right: 1%;"
          (click)="showAllFeaturedPlaylists = !showAllFeaturedPlaylists;"> See all</span></h1>
        <div class="featured_playlist_table_container" *ngIf="featuredPlaylists else loading">
          <table>
            <tr>
              <td *ngFor="let playlist of featuredPlaylists" class="featured_playlist_card_container"
                  matTooltip="{{playlist?.description}}">
                <mat-card class="featured_playlist_card" (click)="routeToPlaylist(playlist?.id);">
                  <mat-card-content class="featured_playlist_content">
                    <img src="{{playlist?.imageUrl}}" width="125">
                    <div fxLayout="column">
                      <h1
                        style="font-size: 15px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -6%;">
                        {{playlist?.name}}</h1>
                    </div>
                  </mat-card-content>
                  <mat-card-footer class="featured_playlist_footer">
                  </mat-card-footer>
                </mat-card>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div *ngIf="showAllFeaturedPlaylists" class="featured_playlist_container">
        <h1
          style="font-size: 25px; margin-left: 1%; margin-top: .5%; display: flex; flex-direction: row; justify-content: space-between;">
          Featured Playlists <span
          style="font-size: 15px; color: #191970; margin-right: 1%;"
          (click)="showAllFeaturedPlaylists = !showAllFeaturedPlaylists;"> Collapse</span></h1>
        <div class="featured_playlist_table_container" *ngIf="featuredPlaylists else loading">
          <ul style="display: flex; flex-wrap: wrap;  list-style: none;">
            <li *ngFor="let playlist of featuredPlaylists" class="featured_playlist_card_container">
              <mat-card class="featured_playlist_card" (click)="routeToPlaylist(playlist?.id);"
                        matTooltip="{{playlist?.description}}">
                <mat-card-content class="featured_playlist_content">
                  <img src="{{playlist?.imageUrl}}" width="125">
                  <div fxLayout="column">
                    <h1
                      style="font-size: 15px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -6%;">
                      {{playlist?.name}}</h1>
                  </div>
                </mat-card-content>
                <mat-card-footer class="featured_playlist_footer">
                </mat-card-footer>
              </mat-card>
            </li>
          </ul>
        </div>
      </div>
      <div class="user_tracks_container">

        <div class="user_top_tracks_container">
          <h1 style="font-size: 25px; margin-left: 1%; margin-top: .5%;">Your Top Tracks</h1>
          <h4 style="font-size: 15px; margin-top: -3%; margin-left: 1%;">{{userTopTracks?.length}} Songs</h4>
          <div class="user_top_tracks" *ngIf="userTopTracks else loading">
            <table class="songlist">
              <tr *ngFor="let track of userTopTracks; let i = index" class="tracksData">
                <td>{{i + 1}}</td>
                <td><img src="{{track?.album?.imageUrl}}" width="75"></td>
                <td><p>{{track?.name}} <br>
                  <span style="font-size:12px;"
                        *ngFor="let item of track?.artistInfo | keyvalue">{{item?.value}} </span>
                </p></td>
                <td>{{transform(track?.duration)}}</td>
                <td>
                  <button mat-icon-button [matMenuTriggerFor]="artistMenu"
                          matTooltip="Get more information on the artist(s)">
                    <mat-icon>person_outline</mat-icon>
                  </button>
                  <mat-menu #artistMenu="matMenu">
                    <button mat-menu-item *ngFor="let artist of track?.artistInfo | keyvalue"
                            (click)="routeToArtist(artist?.key)">
                      {{artist?.value}}
                    </button>
                  </mat-menu>
                </td>
                <td>
                  <button mat-icon-button *ngIf="userFavouriteTracks != null && !userFavouriteTracks.get(track.id)"
                          (click)="followTrack(track.id); userFavouriteTracks.set(track.id, true);"
                          matTooltip="Favourite this Track">
                    <mat-icon>favorite_border</mat-icon>
                  </button>
                  <button mat-icon-button *ngIf="userFavouriteTracks != null && userFavouriteTracks.get(track.id)"
                          (click)="unfollowTrack(track.id); userFavouriteTracks.set(track.id, false);"
                          color="warn" matTooltip="Favourite this Track">
                    <mat-icon>favorite</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-icon-button [matMenuTriggerFor]="playlistMenu"
                          matTooltip="Add this track to your playlist">
                    <mat-icon>playlist_add</mat-icon>
                  </button>
                  <mat-menu #playlistMenu="matMenu">
                    <button mat-menu-item *ngFor="let playlist of spotifyUserPlaylist"
                            (click)="addToPlaylist(playlist?.id, track?.spotifyUri)">
                      {{playlist?.name}}
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="user_recent_tracks_container">
          <h1 style="font-size: 25px; margin-left: 1%; margin-top: .5%;">Recently Played</h1>
          <h4 style="font-size: 15px; margin-top: -3%; margin-left: 1%;">{{userRecentTracks?.length}} Songs</h4>
          <div class="user_recent_tracks" *ngIf="userRecentTracks else loading">
            <table class="songlist">
              <tr *ngFor="let track of userRecentTracks; let i = index" class="tracksData">
                <td>{{i + 1}}</td>
                <td><img src="{{track?.album?.imageUrl}}" width="75"></td>
                <td><p>{{track?.name}} <br>
                  <span style="font-size:12px;"
                        *ngFor="let item of track?.artistInfo | keyvalue">{{item?.value}} </span>
                </p></td>
                <td>{{transform(track?.duration)}}</td>
                <td>
                  <button mat-icon-button [matMenuTriggerFor]="artistMenu"
                          matTooltip="Get more information on the artist(s)">
                    <mat-icon>person_outline</mat-icon>
                  </button>
                  <mat-menu #artistMenu="matMenu">
                    <button mat-menu-item *ngFor="let artist of track?.artistInfo | keyvalue"
                            (click)="routeToArtist(artist?.key)">
                      {{artist?.value}}
                    </button>
                  </mat-menu>
                </td>
                <td>
                  <button mat-icon-button *ngIf="userFavouriteTracks != null && !userFavouriteTracks.get(track.id)"
                          (click)="followTrack(track.id); userFavouriteTracks.set(track.id, true);"
                          matTooltip="Favourite this Track">
                    <mat-icon>favorite_border</mat-icon>
                  </button>
                  <button mat-icon-button *ngIf="userFavouriteTracks!= null && userFavouriteTracks.get(track.id)"
                          (click)="unfollowTrack(track.id); userFavouriteTracks.set(track.id, false);"
                          color="warn" matTooltip="Favourite this Track">
                    <mat-icon>favorite</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-icon-button [matMenuTriggerFor]="playlistMenu"
                          matTooltip="Add this track to your playlist">
                    <mat-icon>playlist_add</mat-icon>
                  </button>
                  <mat-menu #playlistMenu="matMenu">
                    <button mat-menu-item *ngFor="let playlist of spotifyUserPlaylist"
                            (click)="addToPlaylist(playlist?.id, track?.spotifyUri)">
                      {{playlist?.name}}
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!--    <div *ngIf="showAllFeaturedPlaylists" class="featured_playlist_container">-->
    <!--      <h1-->
    <!--        style="font-size: 25px; margin-left: 1%; margin-top: .5%; display: flex; flex-direction: row; justify-content: space-between;">-->
    <!--        Featured Playlists <span-->
    <!--        style="font-size: 15px; color: #191970; margin-right: 1%;"-->
    <!--        (click)="showAllFeaturedPlaylists = !showAllFeaturedPlaylists;"> Collapse</span></h1>-->
    <!--      <div class="featured_playlist_table_container" *ngIf="featuredPlaylists else loading">-->
    <!--        <ul style="display: flex; flex-wrap: wrap;  list-style: none;">-->
    <!--          <li *ngFor="let playlist of featuredPlaylists" class="featured_playlist_card_container">-->
    <!--            <mat-card class="featured_playlist_card" (click)="routeToPlaylist(playlist?.id);"-->
    <!--                      matTooltip="{{playlist?.description}}">-->
    <!--              <mat-card-content class="featured_playlist_content">-->
    <!--                <img src="{{playlist?.imageUrl}}" width="125">-->
    <!--                <div fxLayout="column">-->
    <!--                  <h1-->
    <!--                    style="font-size: 15px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -6%;">-->
    <!--                    {{playlist?.name}}</h1>-->
    <!--                </div>-->
    <!--              </mat-card-content>-->
    <!--              <mat-card-footer class="featured_playlist_footer">-->
    <!--              </mat-card-footer>-->
    <!--            </mat-card>-->
    <!--          </li>-->
    <!--        </ul>-->
    <!--      </div>-->
    <!--    </div>-->

  </mat-drawer-content>
</mat-drawer-container>

<ng-template #loading>
  <mat-spinner fxLayout="column" fxLayoutAlign="center center"></mat-spinner>
</ng-template>
