<div class = "topnav">
  <div style="float: left">
    <!--
    <fb:login-button
      id = "fb-btn"
      scope="public_profile,email,user_birthday,user_location,user_posts"
      onlogin="checkLoginState();">
    </fb:login-button>

    <li><a id="fb-btn" (click)="submitLogin()">Login</a></li>
    <li><a id="logout" (click)="logout()">Logout</a></li>
    -->
    <li><a id="fb-btn" (click)="getUsername()">Log in to Facebook</a></li>
  </div>
</div>
<div class="container">
  <h1>
    <img id = "pfp" style="width: 150px; height: 150px; border: #1c1c1c" [src]="facebookUser.photoURL">
    {{facebookUser.facebookName}}
  </h1>

  <img style="width: 150px; height: 150px; border: #1c1c1c" [src]="facebookPhotos.photos[0]">
  <img style="width: 150px; height: 150px; border: #1c1c1c" [src]="facebookPhotos.photos[1]">
  <img style="width: 150px; height: 150px; border: #1c1c1c" [src]="facebookPhotos.photos[2]">
  <img style="width: 150px; height: 150px; border: #1c1c1c" [src]="facebookPhotos.photos[3]">
  <img style="width: 150px; height: 150px; border: #1c1c1c" [src]="facebookPhotos.photos[4]">
  <br>
  <br>

  <h2><div id = "subtitle">Recent posts</div></h2>
  <h3>{{facebookPosts.posts[0]}}</h3>
  <h4>--{{facebookPosts.posts[1]}}</h4>
  <h3>{{facebookPosts.posts[2]}}</h3>
  <h4>--{{facebookPosts.posts[3]}}</h4>
  <h3>{{facebookPosts.posts[4]}}</h3>
  <h4>--{{facebookPosts.posts[5]}}</h4>

  <div id="profile"></div>
  <br>
  <div id="feed"></div>
</div>

