.status{
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.posttweettacontainer2{
  border-radius: 8px; border: 1px solid rgb(153, 153, 153); border-image: none; width:336px; line-height: 20px; box-shadow: 0px 0px 0px 1px dodgerblue; background-color: rgb(255, 255, 255); height: auto; padding-bottom: -40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; position: center;

}

.posttweettacontainer3{

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.followers{
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 7px 16px; border-radius: 100px; border: 1px solid rgb(173, 216, 255); border-image: none; text-align: center; color: black; line-height: 20px; font-size: 14px; font-weight: bold; white-space: nowrap; position: relative; cursor: pointer; float: left; box-shadow: none; background-color: rgb(173, 216, 255);
  margin-top: 15px;
  padding-top: 10px;
  cursor: default;

}

.followers-header{
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 6px 15px; border-radius: 90px; border: 1px solid rgb(173, 216, 255); border-image: none; text-align: center; color: black; line-height: 20px; font-size: 14px; font-weight: bold; white-space: nowrap; position: relative; cursor: pointer; float: left; box-shadow: none; background-color: rgb(173, 216, 255);
  cursor: default;
  margin-left: 20px;
}
.followers-header2{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 6px 15px; border-radius: 90px; border: 1px solid rgb(173, 216, 255); border-image: none; text-align: center; color: black; line-height: 20px; font-size: 14px; font-weight: bold; white-space: nowrap; position: relative; cursor: pointer; float: left; box-shadow: none; background-color: rgb(173, 216, 255);
  cursor: default;
  padding-top: -20px;
}
.get-followers{
  padding: 6px 16px; border-radius: 100px; border: 1px solid rgb(173, 216, 255); border-image: none; text-align: center; color: rgb(255, 255, 255); line-height: 20px; font-size: 14px; font-weight: bold; white-space: nowrap; position: relative; cursor: pointer; float: left; box-shadow: none; background-color: rgb(173, 216, 255);

}

.repeat{
  /*margin-left: 15px;*/
}

.circle{
  margin-left: 15px;
}

.column-2 {
  /*float: left;*/
  width: 32.5%;
  padding-left: 20px;

}

.user-heading{
  padding-left: 70px;
}

.user-heading-2{
  padding-left: 110px;
}

.column-3{
  /*padding-right: 100px;*/
  padding-left: 20px;
  /*padding-top: 30px;*/
  width: 32.5%;

}

.column-1{
  /*padding-right: 100px;*/
  padding-left: 90px;
  /*padding-top: 30px;*/
  width: 32.5%;
  /*padding-left: 50px;*/

}
.column {
  float: left;
  width: 32.5%;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;
}

.column-4{
  width: 32.5%;
  padding-left: 35px;
}


.example-h2 {
  margin: 0 8px 16px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
  /*background-color: blue;*/
  padding-left: 15px;

}

.mat-slider-horizontal {
  width: 300px;
  /*background-color: blue;*/

}

.mat-slider-vertical {
  height: 300px;
}

.mat-card + .mat-card {
  margin-top: 8px;
}

.example-result-card h2 {
  margin: 0 8px;
}

.submit-btn{
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
  background-color: rgb(173, 216, 255);

  /*padding-left: 60px;*/
}

.header{
  text-align: center;
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.most-retweeted{
  height: 240px;
  background-color: white;
  border-radius: 5px;
  /* box-shadow: 0px 4px 14px --3px; */
  box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);
}

.most-recent{
  height: 240px;

}

.edit-btn{
  color: #32508E;

}

.search-user{
  margin-bottom: 10px;
  /*width: 220px;*/
  height: 36px;
  border: none;
  border-radius: 2px;
  /*color: #FFF;*/
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
  background-color: rgb(173, 216, 255);
  color: #0b2e13;
  margin-left: 10px;

  /*padding-left: 60px;*/
}

.clear {
  margin-bottom: 5px;
  /*width: 220px;*/
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
  background: deeppink;
}

.basic-card{
  /*background-color: whitesmoke;*/
  background-color: white;

  border-radius: 5px;
  /* box-shadow: 0px 4px 14px --3px; */
  box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);

}
.outer-basic-card{
  background-color: whitesmoke;
  /*background-color: white;*/

  border-radius: 5px;
  /* box-shadow: 0px 4px 14px --3px; */
  box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);
}
.outer-basic-card-other{
  background-color: whitesmoke;
  /*background-color: white;*/

  border-radius: 5px;
  /* box-shadow: 0px 4px 14px --3px; */
  box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);
}


.other-tweet-option{
  padding-top: 10px;
  align-content: center;
  width: 50%;
}

.mat-button-toggle {
  /*background-color: white;*/
  /*border-radius: 5px;*/
  /*!* box-shadow: 0px 4px 14px --3px; *!*/
  /*box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);*/
  /*background-color: mat-color($primary);*/
  /*color: mat-color($primary, default-contrast);*/
}

.mat-button-toggle-checked {
  background-color: rgb(173, 216, 255);
  /*color: mat-color($accent, default-contrast);*/
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

clear.disabled{
  color: #999;
  background-color: #999;
  /*background-color: transparent;*/
}

.disabled {
  color: #999;
}

button.submit.disabled {
  color: #999;


}

button.disabled{
  color: #999;
}

button.disabled{
  color: #999;

}
button:disabled {
  opacity: 0.5;
  /*color : #C3C3C3;*/
  cursor:none;
  pointer-events: none;
}

.circle{
  color: red;
  fill: red;

}

.circle svg {
  fill: red;

}

.icons-twitter {
  padding-top: 5px;
}

.example-viewport {
  height: 450px;
  /*width: 200px;*/
  border: 2px slategrey;
  /*border-radius: 55px;*/

}

.example-item {
  height: 50px;
}

.scroll{
  /*background-color: white;*/
  border-radius: 5px;
  /* box-shadow: 0px 4px 14px --3px; */
  /*box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);*/
  direction:ltr;
  overflow:auto;
  border: none;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  direction:ltr;

}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: blue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: blue;
}


table {
  width: 100%;
}

.ranking {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}



.mat-row:nth-child(even){
  background-color: whitesmoke;

}
.color {
  color: white;
  font-weight: bold;
  /*font-style: unset;*/
  background-color: lightskyblue;
}
/*.mat-row:not(:nth-child(odd){*/
/*  background-color: #ffffff;*/
/*}*/


th {
  background-color: whitesmoke;

}

.example-spacer {
  flex: 1 1 auto;
}

.title-span{
  text-align: center;
  font-size: 14px;
}

.header-toolbar{
  /*background-color: #1da1f2;*/
  border-bottom-color: #1b1e21;
  border-color: #4e555b;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}
/*.mat-slider.mat-slider-horizontal .mat-slider-track-fill {*/
/*  background-color: blue;*/
/*}*/
.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 2px gray;
  bottom: -20px;
  right: -20px;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
}

img {
  border-style: solid;
  border-width: 2px;
  height: 250px;
  width:250px;
  margin: auto;
}

.follower-goal-btn{
  background-color: lightskyblue;
}
