
<button class="get-followers" (click)="getFollowerCount('1')">Search</button>
<!--<div *ngIf="section">-->
<!--  {{section | json}}-->
<!--  <button (click)="add(section)">Add</button>-->
<!--</div>-->
<!--<div> {{followerCount}}</div>-->
<div *ngIf="followerCount != -1">
{{'You have this many followers: '}}
  {{followerCount}}
</div>

<button class="get-timeline" (click)="getUserStatus('1')">Get status</button>

<div *ngIf="status != null">
  {{'User status: '}}
  {{status | json}}

</div>
<p> </p>
<button class="get-status" (click)="getUserStatusAsTweet('1')">Get status Content</button>

<div *ngIf="tweet != null">
  {{tweet.tweetText}}
</div>

<!--<button class="get-followers" (click)="getFollowerCount('1')">Search</button>-->
