<!--<div class="container">-->
  <header>

    <div class="tagline">

      <h1>Welcome to <br/>  The Hub</h1>
      <p>Stay connected to your social media platforms all in one place. Track your progression and gain new followers. Become an influencer.</p>
      <div>
        <a  class="contact" (click)="signUpStepper()">Sign Up</a>
<!--        <a  class="learn-more">Log In</a>-->
      </div>
<!--      <mat-horizontal-stepper>-->

<!--        <mat-step label="Step 1" [stepControl]="firstFormGroup">-->
<!--          <p>Put down your phones.</p>-->
<!--          <div>-->
<!--            <button mat-button matStepperNext>Next</button>-->
<!--          </div>-->
<!--        </mat-step>-->

<!--        <mat-step label="Step 2" state="chat">-->
<!--          <p>Socialize with each other.</p>-->
<!--          <div>-->
<!--            <button mat-button matStepperPrevious>Back</button>-->
<!--            <button mat-button matStepperNext>Next</button>-->
<!--          </div>-->
<!--        </mat-step>-->

<!--        <mat-step label="Step 3">-->
<!--          <p>You're welcome.</p>-->
<!--        </mat-step>-->

<!--        &lt;!&ndash; Icon overrides. &ndash;&gt;-->
<!--        <ng-template matStepperIcon="phone">-->
<!--          <mat-icon>call_end</mat-icon>-->
<!--        </ng-template>-->

<!--        <ng-template matStepperIcon="chat">-->
<!--          <mat-icon>forum</mat-icon>-->
<!--        </ng-template>-->

<!--      </mat-horizontal-stepper>-->

<!--    </div>-->

<!--&lt;!&ndash;    <img src="/assets/app-development.png" />&ndash;&gt;-->
<!--    <div class="overlay"></div>-->
<!--  </header>-->
<!--  <main>-->
<!--    <div class="intro">-->
<!--      <h3>Show the world what you can do.</h3>-->
<!--      <p>-->
<!--        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.-->
<!--      </p>-->
<!--    </div>-->

<!--    <div class="multi-section">-->
<!--      <img src="/assets/responsive.png" />-->
<!--      <div>-->
<!--        <h3>Full Responsive Breaks.</h3>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="multi-section-two">-->
<!--      <img class="a" src="/assets/programming.png" />-->
<!--      <div class="b">-->
<!--        <h3>Clean Code Output</h3>-->
<!--        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quam nulla, ornare ac leo nec, imperdiet ultrices eros. Aliquam ullamcorper turpis lorem, id porttitor elit sodales eget. Sed vitae scelerisque quam. Donec tellus ante, lobortis id sem sed, porttitor tempor lacus. Donec et purus lorem. Nam nec ante vel nisi luctus aliquam volutpat nec erat. Ut iaculis imperdiet ligula, in blandit leo finibus pulvinar.</p>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div>-->
<!--      <h3>Ready To Build Your Own Website?</h3>-->
<!--      <p>Now is the time to give your business a professional website</p>-->
<!--      <a href="#" class="contact">Free Trial </a>-->
<!--    </div>-->
<!--  </main>-->

<!--  <footer>-->
<!--    <ul>-->
<!--      <li><a href="#">Sign up</a></li>-->
<!--      <li><a href="#">Log in</a></li>-->
<!--    </ul>-->
<!--    <ul>-->

<!--      <li><a href="#">DesignTools</a></li>-->
<!--      <li><a href="#">Partners</a></li>-->
<!--      <li><a href="#">Community</a></li>-->
<!--      <li><a href="#">Careers</a></li>-->
<!--      <li><a href="#">Support</a></li>-->
<!--    </ul>-->
<!--    <ul>-->
<!--      <li><a href="#">Documentation</a></li>-->
<!--      <li><a href="#">Prices</a></li>-->
<!--      <li><a href="#">About</a></li>-->
<!--      <li><a href="#">Get Started</a></li>-->

<!--    </ul>-->
<!--    <ul>-->
<!--      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>-->
<!--      <li><a href="#"><i class="fab fa-twitter"></i></a></li>-->
<!--      <li><a href="#"><i class="fab fa-instagram"></i></a></li>-->
<!--    </ul>-->

<!--  </footer>-->
<!--</div>-->
    </div>
  </header>
