<!-- the top -->
<mat-toolbar class="header-toolbar">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Social Hub One Page</span>

  <span class="example-spacer"></span>


  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group animationDuration="0ms">
  <mat-tab label="Create Post">

    <mat-card class="post-card" >
      <h2>Select social media to upload to</h2>
      <h4>you can also upload images by pressing the "Choose file" button below</h4>
      <form [formGroup]="form" (ngSubmit)="submitForm('socialHubClub', 'content')" novalidate>
        <section class="example-section">

          <div *ngFor="let data of Data; let i=index">
            <label class="container">
              <input type="checkbox" class="example-margin" [disabled]="data.name === 'Instagram' && !selectedFiles"  [value]="data.value" (change)="onCheckboxChange($event)" />
              <!--      <mat-checkbox type="checkbox" class="example-margin" [value]="data.value" (change)="onCheckboxChange($event)"></mat-checkbox>-->

              {{data.name}}
              <span class="checkmark" (click)="checkCheckBox2($event, data.name)"></span>
            </label>
          </div>
        </section>

        <p class="error" *ngIf="this.form.controls['checkArray'].errors?.required">
          Checkbox is required, select at least one value.
        </p>
<!--        <input type="submit" value="Submit">-->
      </form>
      <div class="rightcontainer" *ngIf="twitterDeveloperMode">
        <div class="posttweetcontainer">
          <!--        <img class="posttweetprofimg" src="http://3.bp.blogspot.com/-JCYefwq__2U/TxCfC3s1ZpI/AAAAAAAAKcM/u5mw7qPAL0w/s300-c/Camilla-Belle-6.jpg">-->
          <div class="ml56px">
            <div class="posttweettacontainer">
              <textarea #content id="posttweetta" (keyup)="onKey($event)"  class="posttweetta" placeholder="What's happening?" style="font-family:Helvetica Neue, Helvetica, Arial, sans-serif;"></textarea>
              <div class="posttweetcountcont">
                <span class="posttweetcount"><span id="totalchars">0</span>/280</span>
              </div>
            </div>
            <div class="posttweetbutcont">
              <label class="btn btn-default">
                <input class="choose-file-btn" type="file" (change)="selectFile($event)" />
              </label>
            <span class="upload-btn-div">
              <button class="btn btn-success" [disabled]="content.value === '' && !selectedFiles" (click)="upload(content.value)">
                Upload
              </button>
            </span>
<!--              <button id="posttweetbut" class="posttweetbut" type="submit" value="submit" (click)="submitForm('socialHubClub', content.value)">Post</button>-->
            </div>
          </div>

        </div>
        <!--  <br>-->
        <!--  <p> </p>-->
        <!--  <mat-card class="example-card">-->
        <!--    <mat-card-header>-->
        <!--      <div mat-card-avatar class="example-header-image"></div>-->
        <!--    </mat-card-header>-->
        <!--  </mat-card>-->
        <!--</div>-->
      </div>
    </mat-card>


  </mat-tab>

  <mat-tab label="Recent Posts From FireBase">

    <mat-card class="outer-basic-card">

      <h2 class="header"> Recent Posts Made From Social Hub </h2>


<!--      </cdk-virtual-scroll-viewport>-->
      <cdk-virtual-scroll-viewport  *ngIf="imageList" itemSize="20" class="example-viewport">
        <!--      <span *ngIf="showTimeline" >-->
        <span *ngIf="imageList else spin" class="status">

        <!--      <mat-card class="basic-card" *ngIf="showOtherTimeline">-->
        <div style="padding-bottom: 10px"  *ngFor="let onePost of imageList">
          <mat-card class="basic-card" >
            <div class="Posted">Posted To: {{onePost.socialMedia}}</div>
<!--            <div>Created: {{onePost.createdAt}}</div>-->
<!--          <div class="posttweettacontainer3">-->
            <div class="text-content">
          <b >{{onePost.textContent}}</b>
            </div>
            <div *ngIf="onePost.imageUrl">
            <img [src]="onePost.imageUrl" alt="" class="'img-fluid">
          </div>
            <div class="created">
              Created On: {{onePost.createAt}}
            </div>
<!--            {{onePost.image}} <br>-->
<!--</div>-->
          </mat-card>
      </div>
        </span>
      </cdk-virtual-scroll-viewport>


      <br>
      <br>
      <br>

    </mat-card>
  </mat-tab>

  <mat-tab label="Recent Posts">

    <mat-card class="outer-basic-card">

      <h2 class="header"> Recent Posts Made From Social Hub </h2>
      <!--      <cdk-virtual-scroll-viewport  *ngIf="usersOnePosts !== null" itemSize="20" class="example-viewport">-->

      <!--      <div style="padding-bottom: 10px"  *ngFor="let onePost of usersOnePosts">-->
      <!--  <mat-card>-->
      <!--        <div class="posttweettacontainer3">-->
      <!--          <b>{{onePost.textContent}}</b>-->
      <!--          <br>-->
      <!--          {{onePost.image}} <br>-->
      <!--        </div>-->
      <!--</mat-card>-->
      <!--      </div>-->

      <!--      </cdk-virtual-scroll-viewport>-->
      <cdk-virtual-scroll-viewport  *ngIf="usersOnePosts !== null" itemSize="20" class="example-viewport">
        <!--      <span *ngIf="showTimeline" >-->
        <span *ngIf="usersOnePosts!== null else spin" class="status">

        <!--      <mat-card class="basic-card" *ngIf="showOtherTimeline">-->
        <div style="padding-bottom: 10px"  *ngFor="let onePost of usersOnePosts">
          <mat-card class="basic-card" >
            <div>Posted To: {{onePost.socialMedia}}</div>
            <!--            <div>Created: {{onePost.createdAt}}</div>-->
            <!--          <div class="posttweettacontainer3">-->
          <b>{{onePost.textContent}}</b>
          <br>
            {{onePost.image}} <br>
            <!--</div>-->
          </mat-card>
      </div>
        </span>
      </cdk-virtual-scroll-viewport>


      <br>
      <br>
      <br>

    </mat-card>
  </mat-tab>

  <mat-tab label="Dev Tests">

        <section class="example-section">
          <mat-checkbox class="example-margin" (change)="toggleEditable($event)">All</mat-checkbox>
          <mat-checkbox class="example-margin"(change)="toggleEditable($event)">Twitter</mat-checkbox>
          <mat-checkbox class="example-margin"(change)="toggleEditable($event)">Facebook</mat-checkbox>
          <mat-checkbox class="example-margin"(change)="toggleEditable($event)">Instagram</mat-checkbox>
          <mat-checkbox class="example-margin"(change)="toggleEditable($event)">Youtube</mat-checkbox>
          <mat-checkbox class="example-margin"(change)="toggleEditable($event)">Spotify</mat-checkbox>

          <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
        </section>



        <section class="example-section">
      <span class="example-list-section">
        <mat-checkbox class="example-margin"
                      [checked]="allComplete"
                      [color]="task.color"
                      [indeterminate]="someComplete()"
                      (change)="setAll($event.checked)">
          {{task.name}}
        </mat-checkbox>
      </span>
          <span class="example-section">
          <div *ngFor="let subtask of task.subtasks">
            <mat-checkbox class="example-margin" [(ngModel)]="subtask.completed"
                          [color]="subtask.color"
                          (ngModelChange)="updateAllComplete()">
              {{subtask.name}}
            </mat-checkbox>
          </div>
      </span>
        </section>



  </mat-tab>
</mat-tab-group>


<!--<form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>-->
<!--  <section class="example-section">-->

<!--  <div *ngFor="let data of Data; let i=index">-->
<!--    <label>-->
<!--      <input type="checkbox" class="example-margin" [value]="data.value" (change)="onCheckboxChange($event)" />-->
<!--&lt;!&ndash;      <mat-checkbox type="checkbox" class="example-margin" [value]="data.value" (change)="onCheckboxChange($event)"></mat-checkbox>&ndash;&gt;-->

<!--      {{data.name}}-->
<!--    </label>-->
<!--  </div>-->
<!--  </section>-->

<!--  <p class="error" *ngIf="this.form.controls['checkArray'].errors?.required">-->
<!--    Checkbox is required, select atleast one value.-->
<!--  </p>-->

<!--  <input type="submit" value="Submit">-->
<!--</form>-->

<!--<form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>-->
<!--  <section class="example-section">-->
<!--    &lt;!&ndash;          <input type="checkbox" class="example-margin" [value]="data.value" (change)="onCheckboxChange($event)" />&ndash;&gt;-->

<!--    <mat-checkbox class="example-margin" value="all" (change)="onCheckboxChange($event)">All</mat-checkbox>-->
<!--    <mat-checkbox class="example-margin" value="twitter" (change)="onCheckboxChange($event)">Twitter</mat-checkbox>-->
<!--    &lt;!&ndash;    <mat-checkbox class="example-margin"(change)="onCheckboxChange($event)">Facebook</mat-checkbox>&ndash;&gt;-->
<!--    &lt;!&ndash;    <mat-checkbox class="example-margin"(change)="toggleEditable($event)">Instagram</mat-checkbox>&ndash;&gt;-->
<!--    &lt;!&ndash;    <mat-checkbox class="example-margin"(change)="toggleEditable($event)">Youtube</mat-checkbox>&ndash;&gt;-->
<!--    &lt;!&ndash;    <mat-checkbox class="example-margin"(change)="toggleEditable($event)">Spotify</mat-checkbox>&ndash;&gt;-->

<!--    &lt;!&ndash;    <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>&ndash;&gt;-->
<!--  </section>-->

<!--  <p class="error" *ngIf="this.form.controls['checkArray'].errors?.required">-->
<!--    Checkbox is required, select atleast one value.-->
<!--  </p>-->

<!--  <input type="submit" value="Submit">-->
<!--</form>-->
<br>
<div></div>
<ngx-dropzone (change)="onSelect($event)">
  <ngx-dropzone-label>Drop files here</ngx-dropzone-label>
  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
  </ngx-dropzone-preview>
</ngx-dropzone>





<ng-template #spin>
  <h2>Null</h2>
<!--            <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
</ng-template>
