<mat-drawer-container class="example-container" autosize>
  <mat-drawer mode="side" opened position="end">
    <div class="nav-bar">
      <div class="nav_user_info">
        <img src="{{spotifyUser?.imageUrl}}">
        <h1 style="margin-top: -2%;">{{spotifyUser?.displayName}}</h1>
        <h4 style="margin-top: -10%;">{{spotifyUser?.email}}</h4>
      </div>
      <div>
        <mat-nav-list>
          <h1 style="text-align: center; font-size: 15px;">MENU</h1>
          <a mat-list-item routerLink="/spotify/" style="margin-top: -15%">
            <mat-icon>home</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Home</span></a>
          <a mat-list-item routerLink="/spotify/search">
            <mat-icon>search</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Search</span></a>
          <br>
          <h1 style="text-align: center; font-size: 15px;">LIBRARY</h1>
          <a mat-list-item routerLink="/spotify/favourite" style="margin-top: -15%">
            <mat-icon>favorite</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Favourites</span>
          </a>
          <br>
          <h1 style="text-align: center; font-size: 15px;">PLAYLIST</h1>
          <a mat-list-item (click)="openDialog()">
            <mat-icon>library_add</mat-icon>
            <span style="font-size:16px; padding-left: 15px;">Create New</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <div style="height: 150px; overflow-y: auto;" *ngIf="spotifyUserPlaylist else loading">
            <a mat-list-item *ngFor="let playlist of spotifyUserPlaylist"
               (click)="routeToPlaylist(playlist?.id)">
              {{ playlist?.name }} </a>
          </div>
        </mat-nav-list>
      </div>
    </div>
    <br>
  </mat-drawer>
  <mat-drawer-content style="width:100%; height:100%;">
    <!--    *ngIf="currentSpotifyPlaylist | async as playlist;"-->
    <div class="playlist_container" *ngIf="!tracksShowAll">
      <div class="playlist_header" style="display: flex; flex-direction: row; justify-content:space-between;">
        <div class="playlist_info">
          <mat-card class="playlist_info_card" fxLayout="column" *ngIf="spotifyPlaylist else loading;">
            <mat-card-header>
              <mat-card-title class="playlist_info_title">
                <!--                <span-->
                <!--                  *ngIf="spotifyPlaylist?.ownerId != spotifyUser.id">{{(spotifyPlaylistOwner| async).displayName}}</span>-->
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="playlist_info_content">
              <img src="{{spotifyPlaylist?.imageUrl}}">
              <h1 style="margin-top: 1%; font-size: 30px;">{{spotifyPlaylist?.name}}</h1>
              <!--              <h1 style="font-size: 15px; margin-top: -7%; text-align: left;" *ngIf="playlist.description">-->
              <!--                Description:</h1>-->
              <h4 style="font-size: 15px; margin-top: -5%;"
                  *ngIf="spotifyPlaylist?.description">{{spotifyPlaylist?.description}} </h4>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="space-between none" class="playlist_action_container"
                              *ngIf="spotifyPlaylist?.ownerId === spotifyUser.id">
              <button mat-raised-button class="edit_button" style="margin-left: 2%;  margin-top: -4%;"
                      matTooltip="Edit the details of this playlist" (click)="openUpdateDialog(spotifyPlaylist?.name)">
                <mat-icon>edit</mat-icon>
                <span> Edit</span>
              </button>
              <button mat-raised-button (click)="deletePlaylist()" class="delete_button"
                      style="margin-right: 2%;  margin-top: -4%;"
                      matTooltip="Delete this playlist">
                <mat-icon>delete_outline</mat-icon>
                <span> Delete</span>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        <div class="playlist_tracks_container">
          <div *ngIf="spotifyPlaylist?.tracks else loading">
            <h1
              style="font-size: 25px; margin-left: 1%; margin-top: .5%; display: flex; flex-direction: row; justify-content: space-between;">
              Tracks <span style="font-size: 15px; color: #191970; margin-right: 1%;"
                           (click)="tracksShowAll = !tracksShowAll"> See all</span></h1>
            <h4 style="font-size: 15px; margin-top: -3%; margin-left: 1%;">{{spotifyPlaylist?.tracks?.length}}
              Songs</h4>
            <div class="playlist_tracks" cdkDropList (cdkDropListDropped)="drop($event)"
                 *ngIf="spotifyPlaylist?.tracks?.length > 0 else notracks;">
              <table class="songlist" *ngIf="spotifyUser?.id === spotifyPlaylist?.ownerId && spotifyPlaylist?.tracks">
                <tr *ngFor="let track of spotifyPlaylist?.tracks; let i = index" class="tracksData" cdkDrag>
                  <td>{{i + 1}}</td>
                  <td><img src="{{track?.album?.imageUrl}}" width="75"></td>

                  <td><p>{{track?.name}} <br>
                    <span style="font-size:12px;"
                          *ngFor="let item of track?.artistInfo | keyvalue">{{item?.value}} </span>
                  </p></td>
                  <td>{{transform(track?.duration)}}</td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="artistMenu"
                            #artistToolTip="matTooltip"
                            matTooltip="Get more information on the artist(s)">
                      <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #artistMenu="matMenu">
                      <button mat-menu-item *ngFor="let artist of track?.artistInfo | keyvalue"
                              (click)="routeToArtist(artist?.key)">
                        {{artist?.value}}
                      </button>
                    </mat-menu>
                  </td>
                  <td>
                    <button mat-icon-button *ngIf="!trackFavouritesMap.get(track?.id)"
                            (click)="followTrack(track?.id); trackFavouritesMap.set(track?.id, true); recommendedTracksMap.set(track?.id, true);"
                            #favouritesToolTip="matTooltip"
                            matTooltip="Favourite this Track">
                      <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="trackFavouritesMap.get(track?.id)"
                            (click)="unfollowTrack(track?.id); trackFavouritesMap.set(track?.id, false); recommendedTracksMap.set(track?.id, false);"
                            color="warn" #favouritesToolTip="matTooltip"
                            matTooltip="Unfavourite this Track">
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="playlistMenu"
                            #playlistAddToolTip="matTooltip"
                            matTooltip="Add this track to your playlist">
                      <mat-icon>playlist_add</mat-icon>
                    </button>
                    <mat-menu #playlistMenu="matMenu">
                      <button mat-menu-item *ngFor="let playlist of spotifyUserPlaylist"
                              (click)="addToPlaylist(playlist?.id, track?.spotifyUri)">
                        {{playlist?.name}}
                      </button>
                    </mat-menu>
                  </td>
                  <td>
                    <button mat-icon-button #playlistRemoveToolTip="matTooltip"
                            matTooltip="Remove this track from this playlist" (click)="deleteTrackFromPlaylist(i)">
                      <mat-icon>remove</mat-icon>
                    </button>
                  </td>
                </tr>
              </table>
              <table class="songlist" *ngIf="spotifyUser?.id != spotifyPlaylist?.ownerId && spotifyPlaylist?.tracks">
                <tr *ngFor="let track of spotifyPlaylist?.tracks; let i = index" class="tracksData">
                  <td>{{i + 1}}</td>
                  <td><img src="{{track?.album?.imageUrl}}" width="75"></td>
                  <td><p>{{track?.name}} <br>
                    <span style="font-size:12px;"
                          *ngFor="let item of track?.artistInfo | keyvalue">{{item?.value}} </span>
                  </p></td>
                  <td>{{transform(track?.duration)}}</td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="artistMenu"
                            #artistToolTip="matTooltip"
                            matTooltip="Get more information on the artist(s)">
                      <mat-icon>person_outline</mat-icon>
                    </button>
                    <mat-menu #artistMenu="matMenu">
                      <button mat-menu-item *ngFor="let artist of track?.artistInfo | keyvalue"
                              (click)="routeToArtist(artist?.key)">
                        {{artist?.value}}
                      </button>
                    </mat-menu>
                  </td>
                  <td>
                    <button mat-icon-button *ngIf="!trackFavouritesMap.get(track?.id)"
                            (click)="followTrack(track?.id); trackFavouritesMap.set(track?.id, true); recommendedTracksMap.set(track?.id, true);"
                            #favouritesToolTip="matTooltip"
                            matTooltip="Favourite this Track">
                      <mat-icon>favorite_border</mat-icon>
                    </button>
                    <button mat-icon-button *ngIf="trackFavouritesMap.get(track?.id)"
                            (click)="unfollowTrack(track?.id); trackFavouritesMap.set(track?.id, false); recommendedTracksMap.set(track?.id, false);"
                            color="warn" #favouritesToolTip="matTooltip"
                            matTooltip="Unfavourite this Track">
                      <mat-icon>favorite</mat-icon>
                    </button>
                  </td>
                  <td>
                    <button mat-icon-button [matMenuTriggerFor]="playlistMenu"
                            #playlistAddToolTip="matTooltip"
                            matTooltip="Add this track to your playlist">
                      <mat-icon>playlist_add</mat-icon>
                    </button>
                    <mat-menu #playlistMenu="matMenu">
                      <button mat-menu-item *ngFor="let playlist of spotifyUserPlaylist"
                              (click)="addToPlaylist(playlist?.id, track?.spotifyUri)">
                        {{playlist?.name}}
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </table>


            </div>
          </div>
        </div>
      </div>
      <div class="recommended_tracks_container">
        <h1
          style="font-size: 25px; margin-left: 1%; margin-top: .5%; display: flex; flex-direction: row; justify-content: space-between;">
          Similar Songs
          <!--    *ngIf="currentSpotifyPlaylist | async as playlist;"-->
          <span style="font-size: 15px; color: #191970; margin-right: 1%;"> <mat-icon
            matTooltip="Get more Songs"
            (click)="recommendedTracks = null; setRecommendedTracks();">update</mat-icon></span>
        </h1>
        <div class="recommended_tracks_snapshot" *ngIf="spotifyPlaylist?.tracks else loading">
          <div *ngIf="spotifyPlaylist?.tracks?.length > 0 else notracks">
            <table class="songlist" *ngIf="recommendedTracks else loading">
              <tr *ngFor="let track of recommendedTracks; let i = index" class="tracksData">
                <td>{{i + 1}}</td>
                <td><img src="{{track?.album?.imageUrl}}" width="75"></td>
                <td><p>{{track?.name}} <br>
                  <span style="font-size:12px;"
                        *ngFor="let item of track?.artistInfo | keyvalue">{{item?.value}} </span>
                </p></td>
                <td>{{transform(track?.duration)}}</td>
                <td>
                  <button mat-icon-button [matMenuTriggerFor]="artistMenu"
                          #artistToolTip="matTooltip"
                          matTooltip="Get more information on the artist(s)">
                    <mat-icon>person_outline</mat-icon>
                  </button>
                  <mat-menu #artistMenu="matMenu">
                    <button mat-menu-item *ngFor="let artist of track?.artistInfo | keyvalue"
                            (click)="routeToArtist(artist?.key)">
                      {{artist?.value}}
                    </button>
                  </mat-menu>
                </td>
                <td>
                  <button mat-icon-button *ngIf="!recommendedTracksMap.get(track?.id)"
                          (click)="followTrack(track?.id); recommendedTracksMap.set(track?.id, true); trackFavouritesMap.set(track?.id, true);"
                          #favouritesToolTip="matTooltip"
                          matTooltip="Favourite this Track">
                    <mat-icon>favorite_border</mat-icon>
                  </button>
                  <button mat-icon-button *ngIf="recommendedTracksMap.get(track?.id)"
                          (click)="unfollowTrack(track?.id); recommendedTracksMap.set(track?.id, false); trackFavouritesMap.set(track?.id, false);"
                          color="warn" #favouritesToolTip="matTooltip"
                          matTooltip="Unfavourite this Track">
                    <mat-icon>favorite</mat-icon>
                  </button>
                </td>
                <td>
                  <button mat-icon-button [matMenuTriggerFor]="playlistMenu"
                          #playlistToolTip="matTooltip"
                          matTooltip="Add this track to your playlist">
                    <mat-icon>playlist_add</mat-icon>
                  </button>
                  <mat-menu #playlistMenu="matMenu">
                    <button mat-menu-item *ngFor="let playlist of spotifyUserPlaylist"
                            (click)="addToPlaylist(playlist?.id, track?.spotifyUri)">
                      {{playlist?.name}}
                    </button>
                  </mat-menu>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="tracksShowAll" class="tracksShowAllContainer">
      <h1
        style="font-size: 25px; margin-left: 1%; margin-top: .5%; display: flex; flex-direction: row; justify-content: space-between;">
        Tracks <span style="font-size: 15px; color: #191970; margin-right: 1%;"
                     (click)="tracksShowAll = !tracksShowAll"> Collapse</span></h1>
      <h4 style="font-size: 15px; margin-top: -2%; margin-left: 1%;">{{spotifyPlaylist?.tracks?.length}} Songs</h4>
      <div class="playlist_show_all_tracks" cdkDropList (cdkDropListDropped)="drop($event)">
        <table class="songlist" *ngIf="spotifyUser?.id === spotifyPlaylist?.ownerId && spotifyPlaylist?.tracks">
          <tr *ngFor="let track of spotifyPlaylist?.tracks; let i = index" class="tracksData" cdkDrag>
            <td>{{i + 1}}</td>
            <td><img src="{{track?.album?.imageUrl}}" width="75"></td>
            <td><p>{{track?.name}} <br>
              <span style="font-size:12px;"
                    *ngFor="let item of track?.artistInfo | keyvalue">{{item?.value}} </span>
            </p></td>
            <td>{{transform(track?.duration)}}</td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="artistMenu"
                      #artistToolTip="matTooltip"
                      matTooltip="Get more information on the artist(s)">
                <mat-icon>person_outline</mat-icon>
              </button>
              <mat-menu #artistMenu="matMenu">
                <button mat-menu-item *ngFor="let artist of track?.artistInfo | keyvalue"
                        (click)="routeToArtist(artist?.key)">
                  {{artist?.value}}
                </button>
              </mat-menu>
            </td>
            <td>
              <button mat-icon-button *ngIf="!trackFavouritesMap.get(track?.id)"
                      (click)="followTrack(track?.id); trackFavouritesMap.set(track?.id, true); recommendedTracksMap.set(track?.id, true);"
                      matTooltip="Favourite this Track">
                <mat-icon>favorite_border</mat-icon>
              </button>
              <button mat-icon-button *ngIf="trackFavouritesMap.get(track?.id)"
                      (click)="unfollowTrack(track?.id); trackFavouritesMap.set(track?.id, false); recommendedTracksMap.set(track?.id, false);"
                      color="warn"
                      matTooltip="Unfavourite this Track">
                <mat-icon>favorite</mat-icon>
              </button>
            </td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="playlistMenu"
                      matTooltip="Add this track to your playlist">
                <mat-icon>playlist_add</mat-icon>
              </button>
              <mat-menu #playlistMenu="matMenu">
                <button mat-menu-item *ngFor="let playlist of spotifyUserPlaylist"
                        (click)="addToPlaylist(playlist?.id, track?.spotifyUri)">
                  {{playlist?.name}}
                </button>
              </mat-menu>
            </td>
            <td>
              <button mat-icon-button
                      matTooltip="Remove this track from this playlist" (click)="deleteTrackFromPlaylist(i)">
                <mat-icon>remove</mat-icon>
              </button>
            </td>
          </tr>
        </table>
        <table class="songlist" *ngIf="spotifyUser?.id != spotifyPlaylist?.ownerId && spotifyPlaylist?.tracks">
          <tr *ngFor="let track of spotifyPlaylist?.tracks; let i = index" class="tracksData">
            <td>{{i + 1}}</td>
            <td><img src="{{track?.album?.imageUrl}}" width="75"></td>
            <td><p>{{track?.name}} <br>
              <span style="font-size:12px;"
                    *ngFor="let item of track?.artistInfo | keyvalue">{{item?.value}} </span>
            </p></td>
            <td>{{transform(track?.duration)}}</td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="artistMenu"
                      matTooltip="Get more information on the artist(s)">
                <mat-icon>person_outline</mat-icon>
              </button>
              <mat-menu #artistMenu="matMenu">
                <button mat-menu-item *ngFor="let artist of track?.artistInfo | keyvalue"
                        (click)="routeToArtist(artist?.key)">
                  {{artist?.value}}
                </button>
              </mat-menu>
            </td>
            <td>
              <button mat-icon-button *ngIf="!trackFavouritesMap.get(track?.id)"
                      (click)="followTrack(track?.id); trackFavouritesMap.set(track?.id, true); recommendedTracksMap.set(track?.id, true);"
                      matTooltip="Favourite this Track">
                <mat-icon>favorite_border</mat-icon>
              </button>
              <button mat-icon-button *ngIf="trackFavouritesMap.get(track?.id)"
                      (click)="unfollowTrack(track?.id); trackFavouritesMap.set(track?.id, false); recommendedTracksMap.set(track?.id, false);"
                      matTooltip="Unfavourite this Track">
                <mat-icon>favorite</mat-icon>
              </button>
            </td>
            <td>
              <button mat-icon-button [matMenuTriggerFor]="playlistMenu"
                      matTooltip="Add this track to your playlist">
                <mat-icon>playlist_add</mat-icon>
              </button>
              <mat-menu #playlistMenu="matMenu">
                <button mat-menu-item *ngFor="let playlist of spotifyUserPlaylist"
                        (click)="addToPlaylist(playlist?.id, track?.spotifyUri)">
                  {{playlist?.name}}
                </button>
              </mat-menu>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #loading>
  <mat-spinner fxLayout="column" fxLayoutAlign="center center"></mat-spinner>
</ng-template>
<ng-template #notracks>
  <h1 style="display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;">There are no tracks in this playlist. Search for some songs to add through the search
    tab!</h1>
</ng-template>
