<!--<h1>{{title}}</h1>-->

<mat-toolbar color="primary">
  <div style="display: flex; justify-content: space-around">
    <mat-toolbar-row>
      <div style="float: right">Social Hub</div>
    </mat-toolbar-row>
    <mat-toolbar-row>
<!--      <app-simple-form > </app-simple-form>-->
    </mat-toolbar-row>
  </div>
</mat-toolbar>
<nav>
  <a routerLink="/twitter">Twitter</a>
  <a routerLink="/facebook">Facebook</a>
  <a routerLink="/dashboard">dashboard</a>
  <a routerLink="/login-page">log in page</a>
  <a routerLink="/account-information">Account information</a>
  <a routerLink="/timeline">timeline</a>
  <a routerLink="/spotify">spotify</a>
  <a routerLink="/about">about</a>
  <a routerLink="/spotify/landing">spotify landing</a>






</nav>
<router-outlet></router-outlet>
