<mat-drawer-container class="example-container" autosize>
  <mat-drawer mode="side" opened position="end">
    <div class="nav-bar">
      <div class="nav_user_info">
        <img src="{{spotifyUser?.imageUrl}}">
        <h1 style="margin-top: -2%;">{{spotifyUser?.displayName}}</h1>
        <h4 style="margin-top: -10%;">{{spotifyUser?.email}}</h4>
      </div>
      <div>
        <mat-nav-list>
          <h1 style="text-align: center; font-size: 15px;">MENU</h1>
          <a mat-list-item routerLink="/spotify/" style="margin-top: -15%">
            <mat-icon>home</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Home</span></a>
          <a mat-list-item routerLink="/spotify/search">
            <mat-icon>search</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Search</span></a>
          <br>
          <h1 style="text-align: center; font-size: 15px;">LIBRARY</h1>
          <a mat-list-item routerLink="/spotify/favourite" style="margin-top: -15%">
            <mat-icon>favorite</mat-icon>
            <span style="font-size:17px; padding-left: 15px;">Favourites</span>
          </a>
          <br>
          <h1 style="text-align: center; font-size: 15px;">PLAYLIST</h1>
          <a mat-list-item (click)="openCreatePlaylistDialog()">
            <mat-icon>library_add</mat-icon>
            <span style="font-size:16px; padding-left: 15px;">Create New</span>
          </a>
        </mat-nav-list>
        <mat-nav-list>
          <div style="height: 150px; overflow-y: auto;" *ngIf="spotifyUserPlaylist else loading">
            <a mat-list-item *ngFor="let playlist of spotifyUserPlaylist"
               (click)="routeToPlaylist(playlist?.id)">
              {{ playlist?.name }} </a>
          </div>
        </mat-nav-list>
      </div>
    </div>
    <br>
  </mat-drawer>

  <mat-drawer-content class="content" fxLayout="column">
    <div *ngIf="!relatedArtistShowAll && !discographyShowAll">
      <div class=header fxLayout="row" style="display: flex; flex-direction: row; justify-content:space-between;">
        <div class="artist_info_container" style="width: 30%">
          <mat-card class="artist_info" fxLayout="column" *ngIf="spotifyArtist else loading">
            <mat-card-header>
            </mat-card-header>
            <mat-card-content class="artist_info_content">
              <img src="{{spotifyArtist?.imageUrl}}">
              <h1 style="margin-top: 1%; font-size: 30px;">{{spotifyArtist?.name}}</h1>
              <h4 style="font-size: 15px; margin-top: -2%;">
                Followers: {{spotifyArtist?.followers | number}}</h4>
            </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="space-between none" class="follow_share_action_container">
              <button mat-raised-button color="warn" class="follow_button" *ngIf="!followed" (click)="followArtist()"
                      style=" margin-left: 2%;  margin-top: -4%;" matTooltip="Follow this artist!">
                <mat-icon>favorite_border</mat-icon>
                Follow
              </button>
              <button mat-raised-button class="follow_button" *ngIf="followed" (click)="unfollowArtist()"
                      style=" margin-left: 2%;  margin-top: -4%;" matTooltip="Unfollow this artist!">
                <mat-icon>favorite</mat-icon>
                Unfollow
              </button>
              <button mat-raised-button class="share_button" style="margin-right: 2%;  margin-top: -4%;">
                <mat-icon>share</mat-icon>
                Share
              </button>
            </mat-card-actions>
          </mat-card>
        </div>

        <div class="popular_tracks_container" fxLayout="column" style="width: 68%; height: 390px;">
          <mat-card class="popular_tracks" *ngIf="artistTopTracks else loading">
            <mat-card-title>
              <h1 style="font-size: 30px;">Most Popular</h1>
              <h4 style="font-size: 15px; margin-top: -2%;">10 Songs</h4>
            </mat-card-title>
            <mat-card-content>
              <div style=" width: 100%; height: 250px; overflow-y:auto;">
                <table class="songlist">
                  <tr *ngFor="let track of artistTopTracks; let i = index" class="tracksData">
                    <td>{{i + 1}}</td>
                    <td><img src="{{track?.album.imageUrl}}" width="75"></td>
                    <td><p>{{track?.name}} <br>
                      <span style="font-size:12px;"
                            *ngFor="let item of track?.artistInfo | keyvalue">{{item?.value}} </span>
                    </p></td>
                    <td>{{transform(track?.duration)}}</td>
                    <td *ngIf="artistTopTracksFavourites">
                      <button mat-icon-button *ngIf="!artistTopTracksFavourites[i]"
                              (click)="followTrack(track?.id); artistTopTracksFavourites[i] = true;"
                              matTooltip="Favourite this Track">
                        <mat-icon>favorite_border</mat-icon>
                      </button>
                      <button mat-icon-button *ngIf="artistTopTracksFavourites[i]"
                              (click)="unfollowTrack(track?.id); artistTopTracksFavourites[i] = false;"
                              color="warn" matTooltip="Unfavourite this Track">
                        <mat-icon>favorite</mat-icon>
                      </button>
                    </td>
                    <td>
                      <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Add this track to your playlist">
                        <mat-icon>playlist_add</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngFor="let playlist of spotifyUserPlaylist"
                                (click)="addToPlaylist(playlist?.id, track?.spotifyUri)">
                          {{playlist?.name}}
                        </button>
                      </mat-menu>
                    </td>
                  </tr>
                </table>
              </div>

            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="discography_container">
        <h1
          style="font-size: 30px; margin-left: 1%; margin-top: 1%; display: flex; flex-direction: row; justify-content: space-between;">
          Discography
          <span style="font-size: 15px; color: #191970; margin-right: 1%;"
                (click)="discographyShowAll = !discographyShowAll"> See all</span>
        </h1>
        <div class="discography_table_container">
          <table class="discography_table" *ngIf="artistAlbums else loading">
            <tr>
              <td *ngFor="let album of artistAlbums">
                <mat-card class="discography_card">
                  <mat-card-title>
                  </mat-card-title>
                  <mat-card-content class="discography_card_content">
                    <img src="{{album?.imageUrl}}" width="125">
                    <div class="discography_card_album_details" fxLayout="column">
                      <h1
                        style="font-size: 15px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis;">{{album?.name}}</h1>
                      <h4
                        style="font-size: 13px; margin-top: -22%; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis;">{{album?.releaseDate | date : 'yyyy'}}</h4>
                    </div>
                  </mat-card-content>
                </mat-card>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="related_artist_container">
        <h1
          style="font-size: 30px; margin-left: 1%; margin-top: 1%; display: flex; flex-direction: row; justify-content: space-between;">
          Similar Artists
          <span style="font-size: 15px; color: #191970; margin-right: 1%;"
                (click)="relatedArtistShowAll = !relatedArtistShowAll"> See all</span>
        </h1>
        <div class="related_artists_table_container" *ngIf="relatedArtists else loading">
          <table class="related_artists_table">
            <tr>
              <td *ngFor="let artist of relatedArtists">
                <mat-card class="related_artists_card" (click)="routeToArtist(artist?.id)"
                          matTooltip="Get more information on the artist">
                  <mat-card-content class="related_artists_card_content">
                    <img src="{{artist?.imageUrl}}" width="175" height="175"
                         style="border-radius: 50%; margin-top: -5%;">
                    <div class="related_artists_card_details" fxLayout="column">
                      <h1
                        style="font-size: 18px; white-space: nowrap; width: 165px; overflow: hidden; text-overflow: ellipsis; text-align: center;">{{artist?.name}}</h1>
                    </div>
                  </mat-card-content>
                </mat-card>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="related_artist_container" *ngIf="relatedArtistShowAll">
      <h1
        style="font-size: 30px; margin-left: 1%; margin-top: 1%; display: flex; flex-direction: row; justify-content: space-between;">
        Similar Artists
        <span style="font-size: 15px; color: #191970; margin-right: 1%;"
              (click)="relatedArtistShowAll = !relatedArtistShowAll"> Collapse</span>
      </h1>
      <div class="related_artists_table_container_all">
        <ul style="display: flex; flex-wrap: wrap;  list-style: none;">
          <li *ngFor="let artist of relatedArtists">
            <mat-card class="related_artists_card_all" (click)="routeToArtist(artist?.id)"
                      matTooltip="Get more information on the artist">
              <mat-card-content class="related_artists_card_content">
                <img src="{{artist?.imageUrl}}" width="175" height="175"
                     style="border-radius: 50%; margin-top: -5%;">
                <div class="related_artists_card_details" fxLayout="column">
                  <h1
                    style="font-size: 18px; white-space: nowrap; width: 165px; overflow: hidden; text-overflow: ellipsis; text-align: center;">{{artist?.name}}</h1>
                </div>
              </mat-card-content>
            </mat-card>
          </li>
        </ul>
      </div>
    </div>

    <div class="discography_container" *ngIf="discographyShowAll">
      <h1
        style="font-size: 30px; margin-left: 1%; margin-top: 1%; display: flex; flex-direction: row; justify-content: space-between;">
        Discography
        <span style="font-size: 15px; color: #191970; margin-right: 1%;"
              (click)="discographyShowAll = !discographyShowAll"> Collapse</span>
      </h1>
      <div class="discography_table_container">
        <ul style="display: flex; flex-wrap: wrap;  list-style: none;">
          <li *ngFor="let album of artistAlbums">
            <mat-card class="discography_card">
              <mat-card-content class="discography_card_content">
                <img src="{{album?.imageUrl}}" width="125">
                <div class="discography_card_album_details" fxLayout="column">
                  <h1
                    style="font-size: 15px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis;">{{album?.name}}</h1>
                  <h4
                    style="font-size: 13px; margin-top: -22%; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis;">{{album?.releaseDate | date : 'yyyy'}}</h4>
                </div>
              </mat-card-content>
            </mat-card>
          </li>
        </ul>
      </div>
    </div>

  </mat-drawer-content>
</mat-drawer-container>

<ng-template #loading>
  <mat-spinner fxLayout="column" fxLayoutAlign="center center"></mat-spinner>
</ng-template>
