<!--<label class="mdc-text-field mdc-text-field&#45;&#45;filled">-->
<!--  <span class="mdc-text-field__ripple"></span>-->
<!--  <span class="mdc-floating-label" id="my-label-id">Hint text</span>-->
<!--  <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">-->
<!--  <span class="mdc-line-ripple"></span>-->
<!--</label>-->

<!--<table mdbTable>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th *ngFor="let head of headElements" scope="col">{{head}} </th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr mdbTableCol *ngFor="let el of elements">-->
<!--    <th scope="row">{{el.id}}</th>-->
<!--    <td>{{el.first}}</td>-->
<!--    <td>{{el.last}}</td>-->
<!--    <td>{{el.handle}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->

<!--<button class="getUserInfo" *ngIf="userSaved == true" (click)="getUser()">Get Account Information</button>-->
<div *ngIf="userData !== null">
  <br>
  <h1>User Account Information</h1>

  <table class="styled-table">
    <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>

    </tr>
    </thead>
    <tbody>
    <tr mdbTableCol>
      <th scope="row">{{arr[0]}}</th>
      <td>{{arr[1]}}</td>
      <td>{{arr[2]}}</td>
      <td>{{arr[3]}}</td>
    </tr>
    <!-- and so on... -->
    </tbody>
  </table>
<br>
<h1>Connections</h1>
<div class="center">
<div *ngIf="twitterLoggedIn !== 'true'; else displayTwitterInfo">
  <span>
    Click the link to the twitter developer page to get your access tokens
  </span>
  <div></div>
  <a href="https://developer.twitter.com/en/portal/dashboard" target="_blank">Go To Developer Page</a>
</div>
<br>
<div id="login-box">
  <div class="left">

    <div *ngIf="twitterLoggedIn !== 'true' else showTwitterInfo" >
      <h1>Register Twitter Account Below</h1>
      <input #consumerKey type="text" name="consumerKey" placeholder="Consumer Key" />
      <input #consumerSecret type="text" name="consumerSecret" placeholder="Consumer Secret" />
      <input #accessToken type="text" name="accessToken" placeholder="Access Token" />
      <input #accessTokenSecret type="text" name="accessTokenSecret" placeholder="Access Token Secret" />
      <input #twitterHandle type="text" name="twitterHandle" placeholder="@TwitterHandle" />

      <button class="submit" (click)="sendConsumerKey(consumerKey.value, consumerSecret.value, accessToken.value, accessTokenSecret.value, twitterHandle.value)">Send Keys</button>
    </div>
  </div>

<ng-template style="text-align: center" #displayTwitterInfo>
  Twitter Currently Connected
</ng-template>
<br>
  <ng-template #showTwitterInfo>
  </ng-template>

<!--<div class="mat-elevation-z2">-->
<!--  <mat-table [dataSource]="listData"  matSort>-->
<!--    <ng-container matColumnDef="content">-->
<!--      <mat-header-cell *matHeaderCellDef  mat-sort-header>Content</mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">{{element.tweetText}}</mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="courseName">-->
<!--      <mat-header-cell *matHeaderCellDef  mat-sort-header></mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element"></mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="courseSubject">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element"></mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="dayAndTime">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">}</mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="roomNo">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element"></mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="sectionNo">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element"></mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="semester">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element"></mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="status">-->
<!--      <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element"></mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="actions">-->
<!--      <mat-header-cell *matHeaderCellDef></mat-header-cell>-->
<!--      <mat-cell *matCellDef="let element">-->
<!--      </mat-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="loading">-->
<!--      <mat-footer-cell *matFooterCellDef colspan="2">-->
<!--        Loading data...-->
<!--      </mat-footer-cell>-->
<!--    </ng-container>-->
<!--    <ng-container matColumnDef="noData">-->
<!--      <mat-footer-cell *matFooterCellDef colspan="2">-->
<!--        No data.-->
<!--      </mat-footer-cell>-->
<!--    </ng-container>-->
<!--    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--  </mat-table>-->
<!--</div>-->
  <div *ngIf="socialOnStart !== null else noSocialSet">
    {{socialOnStart}} is set as your default page on sign in
  </div>
  <ng-template #noSocialSet>
    You have not set a login preference
  </ng-template>
  <br>
  <section class="example-section">
    <label class="example-margin">Set Home Page Preference:</label>
    <mat-radio-group [(ngModel)]="labelPosition" (change)="radioChange($event)" >
      <mat-radio-button class="example-margin" value="Twitter">Twitter</mat-radio-button>
      <mat-radio-button class="example-margin" value="Facebook">Facebook</mat-radio-button>
      <mat-radio-button class="example-margin" value="Spotify">Spotify</mat-radio-button>
    </mat-radio-group>
  </section>
  <br>
</div>
  <button class="btn btn-success" (click)="saveSocialStartUp()">Save</button>
<!--  <button class="btn btn-primary" (click)="goBack()">Cancel</button>-->
</div>   <button class="btn btn-success" (click)="getPreferences()">get Preferences</button>
</div>
