<!--<label class="mdc-text-field mdc-text-field&#45;&#45;filled">-->
<!--  <span class="mdc-text-field__ripple"></span>-->
<!--  <span class="mdc-floating-label" id="my-label-id">Hint text</span>-->
<!--  <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">-->
<!--  <span class="mdc-line-ripple"></span>-->
<!--</label>-->

<!--<table mdbTable>-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th *ngFor="let head of headElements" scope="col">{{head}} </th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--  <tr mdbTableCol *ngFor="let el of elements">-->
<!--    <th scope="row">{{el.id}}</th>-->
<!--    <td>{{el.first}}</td>-->
<!--    <td>{{el.last}}</td>-->
<!--    <td>{{el.handle}}</td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->


<!--<button class="getUserInfo" *ngIf="userSaved == true" (click)="getUser()">Get Account Information</button>-->
<div class="row">
  <div class="column-1">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{user.username}}</mat-card-title>
        <mat-card-subtitle>{{user.email}}</mat-card-subtitle>
        <button class="edit-btn-card" (click)="launchUpdateAccountPage()"mat-icon-button aria-label="edit-handle-btn">
          <mat-icon class="edit-btn" >edit</mat-icon>
        </button>
      </mat-card-header>
<!--      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
<!--      <mat-card-content>-->
<!--        <p>-->
<!--          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
<!--          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
<!--          bred for hunting.-->
<!--        </p>-->
<!--      </mat-card-content>-->
<!--      <mat-card-actions>-->
<!--        <button mat-button>LIKE</button>-->
<!--        <button mat-button>SHARE</button>-->
<!--      </mat-card-actions>-->
    </mat-card>
  </div>
  <div class="column">
    <br>
    <h1 class="user-heading">User Account Information</h1>
  </div>
  <div class="column-3">

    <button class="btn btn-success" (click)="launchUpdateAccountPage()">Update Account Info</button>


  </div>
</div>

<!--<div *ngIf="userData !== null">-->
<!--  <br>-->
<!--  <h1>User Account Information</h1>-->

<!--  <table class="styled-table">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th *ngFor="let head of headElements" scope="col">{{head}} </th>-->

<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr mdbTableCol>-->
<!--      <th scope="row">{{arr[0]}}</th>-->
<!--      <td>{{arr[1]}}</td>-->
<!--      <td>{{arr[2]}}</td>-->
<!--      <td>{{arr[3]}}</td>-->
<!--    </tr>-->
<!--    &lt;!&ndash; and so on... &ndash;&gt;-->
<!--    </tbody>-->
<!--  </table>-->
<!--  <div class="center2">-->
<!--  <span class="buttonb">-->
<!--&lt;!&ndash;    <button class="btn btn-success" (click)="launchUpdateAccountPage()">Update Account Info</button>&ndash;&gt;-->
<!--</span>-->
<!--  </div>-->



  <br>
<h1>Connections</h1>
<div class="center">
<div *ngIf="twitterLoggedIn !== 'true'; else displayTwitterInfo">

</div>
<br>
<div id="login-box">
  <div class="left">
<div class="centered">
  <div *ngIf="!twitterHandleFound else showTwitterInfo" >




  <!--    <div *ngIf="twitterLoggedIn !== 'true' else showTwitterInfo" >-->
      <h1>Enter Twitter Handle To Get Feed</h1>
      <div class="center3">

      <input #twitterHandle type="text" name="twitterHandle" placeholder="@TwitterHandle" />
      </div>

      <button class="submit" (click)="sendTwitterHandle(twitterHandle.value)">Select Handle</button>
    </div>
  </div>
  </div>
<ng-template style="text-align: center" #displayTwitterInfo>
  Twitter Currently Connected
</ng-template>
<!--<br>-->
  <ng-template #showTwitterInfo>

<!--    {{twitterData.twitterHandle}}-->
<!--    <h1>Select A Different Twitter</h1>-->
    <h1> Current Twitter User Displayed:  <span class="twitter-handle-display"> {{twitterData.twitterHandle}}
      <button (click)="changeToDifferentHandle()"mat-icon-button aria-label="edit-handle-btn">
        <mat-icon class="edit-btn" >edit</mat-icon>
      </button>
<!--      <mat-icon (click)="changeToDifferentHandle()" aria-hidden="false" aria-label="edit">edit</mat-icon>-->
  </span></h1>
    <div *ngIf="displayHandleChangeDiv" class="center3">

      <span> </span>
      <input [(ngModel)]="twitterModel.handle" #twitterHandle type="text" name="twitterHandle" placeholder="{{twitterData.twitterHandle}}" />
    <span class="set-twitter-box">
    <button class="submit-btn" [disabled]="twitterModel.handle === ''" (click)="sendTwitterHandle(twitterHandle.value)">Set Twitter</button>
      </span>
    </div>

  </ng-template>


<!--    {{twitterData.twitterHandle}}-->
<!--    <h1>Edit Twitter Handle</h1>-->
<!--    <div class="center3">-->

<!--      <input #twitterHandle type="text" name="twitterHandle" placeholder="{{twitterData.twitterHandle}}" />-->
<!--    </div>-->

<!--    <button class="submit" (click)="sendTwitterHandle(twitterHandle.value)">Edit Handle</button>-->
<!--  </ng-template>-->
<!--</div>-->
<!--</div>-->


  <div *ngIf="socialOnStart !== null else noSocialSet">
<!--    {{socialOnStart}} is set as your default page on sign in-->
  </div>
  <ng-template #noSocialSet>
    You have not set a login preference
<!--    <br>-->
  </ng-template>
  <section class="example-section">
    <label class="example-margin">Set Home Page Preference:</label>
    <mat-radio-group [(ngModel)]="labelPosition" (change)="radioChange($event)" >
      <mat-radio-button #Twitter class="example-margin" value="Twitter" [checked]="checkDefault(Twitter.value)">Twitter</mat-radio-button>
      <mat-radio-button #Facebook class="example-margin" value="Facebook" [checked]="checkDefault(Facebook.value)">Facebook</mat-radio-button>
      <mat-radio-button #Spotify class="example-margin" value="Spotify" [checked]="checkDefault(Spotify.value)">Spotify</mat-radio-button>
    </mat-radio-group>
  </section>
  <br>
</div>

  <button class="btn btn-success" (click)="saveSocialStartUp()">Save HomePage Preference</button>
<!--  <button class="btn btn-primary" (click)="goBack()">Cancel</button>-->
<!--</div>-->
<!--  <button class="btn btn-success" (click)="getPreferences()">get Preferences</button>-->
<!--</div>-->
</div>
<!--</div>-->
<section class="example-section">
  <mat-checkbox class="example-margin" type="checkbox" [(ngModel)]="showHideDeveloper">Developer Options</mat-checkbox>
  <mat-checkbox class="example-margin" [disabled]="true">Disabled</mat-checkbox>
</section>
<br>
<div class="center" *ngIf="showHideDeveloper">
  <div *ngIf="!developerOptions else displayTwitterInfo">
  <span>
    Click the link to the twitter developer page to get your access tokens
  </span>
    <div></div>
    <a href="https://developer.twitter.com/en/portal/dashboard" target="_blank">Go To Developer Page</a>
  </div>
  <br>
  <div id="login-box2">
    <div class="left">
      <div class="centered">
        <div *ngIf="!developerOptions else showTwitterInfo" >
          <h1>Register Twitter Account Below</h1>
          <div class="center3">

            <input class="box" #consumerKey type="text" name="consumerKey" placeholder="Consumer Key" />
            <input #consumerSecret type="text" name="consumerSecret" placeholder="Consumer Secret" />
            <input #accessToken type="text" name="accessToken" placeholder="Access Token" />
            <input #accessTokenSecret type="text" name="accessTokenSecret" placeholder="Access Token Secret" />
            <input #twitterHandle type="text" name="twitterHandle" placeholder="@TwitterHandle" />
          </div>

          <button class="submit" (click)="sendConsumerKey(consumerKey.value, consumerSecret.value, accessToken.value, accessTokenSecret.value, twitterHandle.value)">Send Keys</button>
        </div>
      </div>
    </div>
    <ng-template style="text-align: center" #displayTwitterInfo>
      Twitter Currently Connected
    </ng-template>
    <br>
    <ng-template #showTwitterInfo>
    </ng-template>
  </div>
</div>
