<!--<p>instagram works!</p>-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Instagram Page</title>

  <link href="instagram.component.css" rel="stylesheet" />
</head>
<div  *ngIf="isVisibleSpinner" >
  <mat-spinner color="accent" strokeWidth="2" [diameter]="100" style="width: 200px; height: 200px; margin-left: 45%;"></mat-spinner>
  <img class="spinnerImg" src="https://cdn.discordapp.com/attachments/801155090059755593/805973372269887548/piclogo.png" >
</div>
<div *ngIf="this.isVisible">
<body id="page-top">
<!--<mat-spinner></mat-spinner>-->
<div class="container bootstrap-snippet header-container">
  <div class="headerImage">
    <div class="py-5" style=" width: 100% ; height: 200px">
      <img src="{{instagramUser.profilePicUrl}}" alt class="profilePic" style=" float: top; float: left; margin-top: 0 ">
      <div class="media col-md-10 col-lg-8 col-xl-7 p-0 my-4 "  >


          <h4 style="margin-top: 30px; padding-right: 50px; padding-left: 220px; font-size: 30px" class="font-weight-bold mb-4">{{instagramUser.displayName}}</h4>


            <strong style="margin-top: 20px; font-size: 40px ; padding-left: 10px"><animated-digit [digit]="instagramUser.followerCount" [duration]="1000"></animated-digit> </strong>
            <span style="margin-top: 30px;  padding-right: 50px; font-size: 30px" class="text-muted">  Followers </span>

            <strong style="margin-top: 20px; font-size: 40px; padding-left: 10px"><animated-digit [digit]="instagramUser.followingCount" [duration]="1000"></animated-digit> </strong>
            <span style="margin-top: 30px; padding-right: 50px; font-size: 30px" class="text-muted">  Following</span>
      </div>
      <h3  style=" color: #ffffff; display: block;  margin-left: 25%; margin-right: auto; font-size: 20px" >BIO: {{instagramUser.instaBio}}</h3>

    </div>
    <button style="background: snow;  float: top; " (click)="toggleChanges()" id="bt">
      <span class="material-icons">
            create
      </span>
    </button>
  </div>
</div>

<ng-container class="example-form"   *ngIf="showChanges">
  <mat-form-field class="example-full-width"  appearance="outline">
    <mat-label>Change Bio</mat-label>
    <input #todo matInput type="text" name="todo">
    <mat-hint>Input new Bio for Instagram Page</mat-hint>
    <mat-card-actions>
      <button style=" display: block;  margin-left: auto; margin-right: auto;" (click)="changeBio(todo.value)" mat-button>Change</button>
    </mat-card-actions>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Change Display Name</mat-label>
    <input #todo matInput type="text" name="todo">
    <mat-hint>Input new Display Name for Instagram Page</mat-hint>
    <mat-card-actions>
      <button style=" display: block;  margin-left: auto; margin-right: auto;"  mat-button>Change</button>
    </mat-card-actions>
  </mat-form-field>
</ng-container>
<!--<div>-->
<!--  <img class="profilePic" src="{{instagramUser.profilePicUrl}}" alt="Avatar">-->

<!--</div>-->

<!--<p style="padding: 100px">{{instagramUser.imageFeed[1]}}</p>-->
<!--<p>{{getImageUrl(1)}}</p>-->

<!--<h4 style="padding-left: 45%">Follower Count: <animated-digit [digit]="instagramUser.followerCount" [duration]="1000"></animated-digit></h4>-->
<!--<h4 style="padding-left: 45%">Following Count: <animated-digit [digit]="instagramUser.followingCount" [duration]="1000"></animated-digit></h4>-->
<!--<h3 style="padding-left: 45%">BIO: {{instagramUser.instaBio}}</h3>-->


<!--<div>-->

<!--  <h3 style="padding-left: 45%"> Number of Images {{instagramUser.mediaCount}}</h3>-->
<!--  <ul>-->
<!--    <li *ngFor="let picture of images; let i = index">-->
<!--      <img style="width: 500px; height: 500px" [src]="getImageUrl(i)">-->


<!--    </li>-->
<!--  </ul>-->



<!--</div>-->
<section>

    <nav style="background: snow">
      <div>
<!--        <mdb-carousel  class="carousel slide carousel-fade"  [animation]="'fade'">-->

            <carousel arrowsTheme="dark" overflowCellsLimit="1" [height]="500" [cellWidth]="400">
              <div class="carousel-cell" *ngFor='let in of counter(5) ;let i = index'>
                <mat-card class="example-card headerImage">

                  <mat-card-content>
                    <div class="container">
                    <img style="width: 350px; height: 350px; display: block;"  alt="First Slide" [src]="getImageUrl(i)" [routerLink]="getImageUrl(i)">
                      <div class="overlay">
                         <h2 class="likes"><span style="padding-right: 5px" class="material-icons">favorite</span> {{instagramUser.imageFeedLikes[i]}}</h2>
                      </div>
                    </div>
                    <h3 style="color: white">{{instagramUser.imageFeedCaption[i]}}</h3>
                  </mat-card-content>

                  <mat-card-footer style="padding: 20px; ">Comments: {{getComment(i)}}</mat-card-footer>
                </mat-card>
              </div>
            </carousel>





<!--          <mdb-carousel-item  *ngFor='let in of counter(17) ;let i = index'>-->
<!--            <img style="width: 550px; height: 500px; display: block;  margin-left: auto; margin-right: auto;" alt="First Slide" [src]="getImageUrl(i)" >-->
<!--            <div class="carousel-caption">-->
<!--              <div class="animated fadeInDown delay-1s">-->
<!--                <h3 class="h3-responsive" style="color: #ffffff; background-color: #000000">{{instagramUser.imageFeedCaption[i]}}</h3>-->

<!--              </div>-->
<!--            </div>-->
<!--            <footer style=" display: block;  margin-left: auto; margin-right: auto;">Comments: {{getComment(i)}}</footer>-->
<!--          </mdb-carousel-item>-->
<!--        </mdb-carousel>-->
      </div>

<!--      <ngx-image-gallery [images]="getImageUrl(1)"></ngx-image-gallery>-->

    </nav>


    <article>
      <nav style="background: snow">
        <h2>Followers: {{instagramUser.followerFeed.length}} <button mat-raised-button (click)="openDialog()">
          <span class="material-icons">
            search
          </span>
        </button></h2>
        <ul *ngFor='let in of counter(1) ;let i = index'>
          <li>
            <mat-card >
              <mat-card-header>
                <img style="display: block;  width: 70px;"  alt="Avatar" class="image"
                     mat-card-avatar [src]= "getFollowerProfilePic(i)" >
                <mat-card-title>{{getFollowerProfileName(i)}}</mat-card-title>
              </mat-card-header>
            </mat-card>
          </li>
<!--          <li><img style="display: block;  width: 70px;"  alt="Avatar" class="image" [src]="getFollowerProfilePic(i)"></li>-->
<!--          <li>{{getFollowerProfileName(i)}}</li>-->
        </ul>
      </nav>

    </article>


</section>

<!--<form class="example-form">-->
<!--  <mat-form-field class="example-full-width">-->
<!--    <mat-label>Enter Instagram Username:</mat-label>-->
<!--    <input #todo matInput type="text" name="todo">-->
<!--    <mat-card-actions>-->
<!--      <button matSuffix style=" display: block;  margin-left: auto; margin-right: auto;"  (click)="userSearch(todo.value)" mat-button>-->
<!--        <mat-icon  matSuffix>search</mat-icon>-->
<!--      </button>-->

<!--    </mat-card-actions>-->


<!--  </mat-form-field>-->
<!--</form>-->

<!--<ng-container *ngIf="showSearch">-->
<!--  <h4>User : {{instagramUserSearch.displayName}}</h4>-->



<!--  <div class="container bootstrap-snippet header-container">-->
<!--    <div class="headerImage">-->
<!--      <div class="py-5" style=" width: 100%">-->
<!--        <div class="media col-md-10 col-lg-8 col-xl-7 p-0 my-4 " >-->
<!--          <img style="padding-right: 50px" src="{{instagramUserSearch.profilePicUrl}}" alt class="d-block ui-w-100 rounded-circle">-->

<!--          <h4 style="padding-right: 50px; padding-left: 50px" class="font-weight-bold mb-4">{{instagramUserSearch.displayName}}</h4>-->

<!--          <h3 class="font-weight-bold mb-4"style=" font-size: 40px" >{{instagramUserSearch.username}}</h3>-->






<!--          <strong style=" font-size: 20px"><animated-digit [digit]="instagramUserSearch.followerCount" [duration]="1000"></animated-digit></strong>-->
<!--          <span style="padding-right: 50px; font-size: 20px" class="text-muted"> Followers </span>-->


<!--          <strong style=" font-size: 20px"><animated-digit [digit]="instagramUserSearch.followingCount" [duration]="1000"></animated-digit></strong>-->
<!--          <span style="padding-right: 50px; font-size: 20px" class="text-muted"> Following</span>-->








<!--        </div>-->
<!--        <h3  style=" color: #ffffff; display: block;  margin-left: 25%; margin-right: auto;" >BIO: {{instagramUserSearch.instaBio}}</h3>-->

<!--      </div>-->

<!--    </div>-->
<!--  </div>-->




<!--</ng-container>-->
<!--  <mdb-carousel-item>-->
<!--    <img style="display: block; margin-left: auto;  width: 500px;" [src]="getImageUrl(1)" alt="Second slide">-->
<!--  </mdb-carousel-item>-->
<!--  <mdb-carousel-item>-->
<!--    <img style="display: block; margin-left: auto; margin-right: auto; width: 500px;" [src]="getImageUrl(2)" alt="Third slide">-->
<!--  </mdb-carousel-item>-->
<!--  <mdb-carousel-item>-->
<!--    <img style="display: block; margin-left: auto; margin-right: auto; width: 500px;" [src]="getImageUrl(3)" alt="Third slide">-->
<!--  </mdb-carousel-item>-->
<!--  <mdb-carousel-item>-->
<!--    <img style="display: block; margin-left: auto; margin-right: auto; width: 500px;" [src]="getImageUrl(4)" alt="Third slide">-->
<!--  </mdb-carousel-item>-->
<!--  <mdb-carousel-item>-->
<!--    <img style="display: block; margin-left: auto; margin-right: auto; width: 500px;" [src]="getImageUrl(5)" alt="Third slide">-->
<!--  </mdb-carousel-item>-->
<!--  <mdb-carousel-item>-->
<!--    <img style="display: block; margin-left: auto; margin-right: auto; width: 500px;" [src]="getImageUrl(6)" alt="Third slide">-->
<!--  </mdb-carousel-item>-->


</body>
</div>
</html>
<!--<button (click)="getInstaUser()"></button>-->



