<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Enter Instagram Username:</mat-label>
    <input #todo matInput type="text" name="todo">
    <mat-card-actions>
      <button matSuffix style=" display: block;  margin-left: auto; margin-right: auto;"  (click)="userSearch(todo.value)" mat-button [class.spinner]="loading" [disabled]="loading">
        <mat-icon  matSuffix>search</mat-icon>
      </button>

    </mat-card-actions>


  </mat-form-field>
</form>

<ng-container *ngIf="showSearch">

<!--  <div  *ngIf="isVisibleSpinner" >-->
<!--    <mat-spinner color="accent" strokeWidth="2" [diameter]="100" style="width: 50px; height: 50px; margin-left: 20%"></mat-spinner>-->
<!--  </div>-->

<!--  <div *ngIf="this.isVisible">-->
  <mat-card class="example-card">



      <mat-card-header>
        <img mat-card-avatar src="{{getUserProfilePic()}}" alt class="profilePic"  >
        <mat-card-title>{{instagramUserSearch.displayName}}</mat-card-title>
      </mat-card-header>
      <div >
        <div class="headerImage">
          <div class="py-5" style=" width: 100% ; height: 200px">
  <!--          <img src="{{instagramUserSearch.profilePicUrl}}" alt class="profilePic" >-->
            <div>


  <!--            <h4 style="margin-top: 30px; padding-right: 50px; padding-left: 220px; font-size: 10px" class="font-weight-bold mb-4">{{instagramUserSearch.displayName}}</h4>-->


              <strong style="margin-top: 20px; font-size: 15px"><animated-digit [digit]="instagramUserSearch.followerCount" [duration]="1000"></animated-digit></strong>
              <span style="margin-top: 30px;  padding-right: 20px; font-size: 10px" class="text-muted"> Followers </span>

              <strong style="margin-top: 20px; font-size: 15px"><animated-digit [digit]="instagramUserSearch.followingCount" [duration]="1000"></animated-digit></strong>
              <span style="margin-top: 30px; padding-right: 20px; font-size: 10px" class="text-muted"> Following</span>

              <p  style="  display: block;  font-size: 10px" >BIO: {{instagramUserSearch.instaBio}}</p>
            </div>


          </div>

        </div>

      </div>


  </mat-card>
<!--  </div>-->
<!--  <button mat-raised-button  *ngIf="followStatus" (click)="unFollowUser(todo.value)">-->
<!--    <mat-icon></mat-icon>-->
<!--    Unfollow-->
<!--  </button>-->

<!--  *ngIf="!followStatus"-->
<!--  <button mat-raised-button   *ngIf="!followStatus" (click)="followUser(todo.value)">-->
<!--    <mat-icon><span class="followIcon"></span></mat-icon>-->
<!--    {{checkFollowStatus()}}-->
<!--  </button>-->
  <button mat-raised-button  *ngIf="!this.instagramUserSearch.followingStatus" [class.spinner]="loading" [disabled]="loading"
           (click)="followUser(todo.value)">
    <mat-icon><span class="followIcon"></span></mat-icon>
    {{checkFollowStatus()}}
  </button>

  <button mat-raised-button *ngIf="this.instagramUserSearch.followingStatus" [class.spinner]="loading" [disabled]="loading"
           (click)="unFollowUser(todo.value)">
    <mat-icon><span class="followIcon"></span></mat-icon>
    {{checkFollowStatus()}}
  </button>

  <button mat-raised-button (click)="closeModalDialog()" >Cancel</button>
</ng-container>
