
.example-card {
  width: 350px;
  height: 455px;
  background-color: white;
  box-shadow: 0 0 5px black;
}

.example-header-image {
  background-size: cover;
}
.video {

}
#snapshot {
  border-radius: 25px;
  box-shadow: 0 0 5px grey;
  border: 2px solid lightgray;
  padding: 20px;
  margin-left: 10px;
  margin-top: 20px;
  max-width: 400px;
  height: 565px;
  background-image: linear-gradient(to right, red, darkred);
}
h3 {
  color: black;
  padding-top: 10px;
}
.title {
  color: black;
  text-align: center;
}
