
<mat-card class="spotify_snapshot">
  <mat-card-header>
    <img mat-card-avatar [src]="spotifyUser.imageUrl">
    <mat-card-title>
      <div class="spotify_snapshot_header">
        {{spotifyUser.displayName}}
        <!--        <button mat-button style="display: block;  margin-left: auto;"><span-->
        <!--          class="spotifyIcon"></span>-->
        <!--        </button>-->
      </div>
    </mat-card-title>


  </mat-card-header>
  <mat-card-content>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Recently Played" class="spotify_recently_played_tab">
        <table class="songlist">
          <tr>
            <td *ngFor="let track of spotifyUserRecentTracks; let i = index;" class="tracksData">
              <mat-card class="spotify_recent_tracks_card">
                <mat-card-content class="spotify_recent_tracks_content">
                  <img src="{{track.album.imageUrl}}" width="125">
                  <div fxLayout="column">
                    <h1
                      style="font-size: 16px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -6%;">
                      {{track.name}}</h1>
                    <h4
                      style="font-size: 11px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -25%;">
                      <span style="font-size:12px;"
                            *ngFor="let item of track.artistInfo | keyvalue">{{item.value}} </span>
                    </h4>
                  </div>
                </mat-card-content>
              </mat-card>
            </td>
          </tr>
        </table>
      </mat-tab>
      <mat-tab label="Favourites" class="spotify_favourites_tab">
        <table class="songlist">
          <tr>
            <td *ngFor="let track of spotifyUserFavouriteTracks; let i = index;" class="tracksData">
              <mat-card class="spotify_favourite_tracks_card">
                <mat-card-content class="spotify_favourite_tracks_content">
                  <img src="{{track.album.imageUrl}}" width="125">
                  <div fxLayout="column">
                    <h1
                      style="font-size: 16px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -6%;">
                      {{track.name}}</h1>
                    <h4
                      style="font-size: 11px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -25%;">
                      <span style="font-size:12px;"
                            *ngFor="let item of track.artistInfo | keyvalue">{{item.value}} </span>
                    </h4>
                  </div>
                </mat-card-content>
              </mat-card>
            </td>
          </tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
  <!--  <mat-card-actions>-->
  <!--    <button style=" display: block;  margin-left: auto; margin-right: auto;" routerLink="/instagram" mat-button><span-->
  <!--      class="instaIcon"></span></button>-->
  <!--  </mat-card-actions>-->
  <mat-card-actions>
    <button mat-button style="display: block;  margin-left: auto; margin-right: auto; margin-top: -3%;"
            routerLink="/spotify"><span
      class="spotifyIcon"></span>
    </button>
  </mat-card-actions>
  <!--  <mat-card-footer>-->
  <!--    <span class="spotifyIcon"></span>-->
  <!--  </mat-card-footer>-->
</mat-card>

<mat-card class="basic-card-small2">
  <div *ngIf="twitterHandleFound else notShow" >
    <br>

    <div class="outer-header"> {{twitterHandle}}'s Twitter Snapshot
      <div class="space">
        <div class="followers-header3">

									<span class="followers-header2"> <div *ngIf="twitterFollowerCount != -1">
                    Twitter Followers: {{twitterFollowerCount}}

</div>
                  </span>
        </div>
      </div>
    </div>      <div class="flex-column">
    <mdb-carousel  class="carousel slide carousel-fade"  [animation]="'fade'">

      <mdb-carousel-item >
        <mat-card class="recent-post-card">

          <h2 class="header">Most recent post</h2>
          <div class="posttweettacontainer2">

            <div *ngIf="briefStatus != null else spin" class="status">
              <div *ngIf="briefStatus else spin" class="status">

                <b>{{briefStatus.handle}}</b> <span style="color:#808080"> @{{briefStatus.screenName}} {{' * '}} {{briefStatus.createdAt.substring(0, 10)}} </span>
                <br>
                {{briefStatus.text}} <br>
                <div class="icons-twitter">
                  <mat-icon class="repeat">repeat</mat-icon> {{briefStatus.retweetCount}} {{'          '}}<mat-icon class="circle">favorite_border</mat-icon> {{briefStatus.favoriteCount}}
                </div>
              </div>
            </div>
            <ng-template #spin>
              <!--                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>-->
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>

            </ng-template>
            <br>
            <div>
              <br>
            </div>
          </div>
          <br>
          <br>
          <br>

        </mat-card>

      </mdb-carousel-item>

      <mdb-carousel-item >

        <mat-card class="recent-post-card">

          <h2 class="header">Most Favorited Post</h2>
          <div class="posttweettacontainer2">

            <div *ngIf="briefStatus != null else spin" class="status">
              <div *ngIf="briefStatus else spin" class="status">

                <b>{{otherMostFavorited.handle}}</b> <span style="color:#808080"> @{{otherMostFavorited.screenName}} {{' * '}} {{otherMostFavorited.createdAt.substring(0, 10)}} </span>
                <br>
                {{otherMostFavorited.text}} <br>
                <div class="icons-twitter">
                  <mat-icon class="repeat">repeat</mat-icon> {{otherMostFavorited.retweetCount}} {{'          '}}<mat-icon class="circle">favorite_border</mat-icon> {{otherMostFavorited.favoriteCount}}
                </div>
              </div>
            </div>
            <ng-template #spin>
              <!--                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>-->
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>

            </ng-template>
            <br>
            <div>
              <br>

            </div>
          </div>
          <br>
          <br>
          <br>

        </mat-card>



      </mdb-carousel-item>

      <mdb-carousel-item >

        <mat-card class="recent-post-card">

          <h2 class="header">Most Retweeted Post</h2>
          <div class="posttweettacontainer2">

            <div *ngIf="briefStatus != null else spin" class="status">
              <div *ngIf="briefStatus else spin" class="status">

                <b>{{otherMostRetweeted.handle}}</b> <span style="color:#808080"> @{{otherMostRetweeted.screenName}} {{' * '}} {{otherMostRetweeted.createdAt.substring(0, 10)}} </span>
                <br>
                {{otherMostRetweeted.text}} <br>
                <div class="icons-twitter">
                  <mat-icon class="repeat">repeat</mat-icon> {{otherMostRetweeted.retweetCount}} {{'          '}}<mat-icon class="circle">favorite_border</mat-icon> {{otherMostRetweeted.favoriteCount}}
                </div>
              </div>
            </div>
            <ng-template #spin>
              <!--                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>-->
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>

            </ng-template>

            <br>
            <div>
              <br>

            </div>
          </div>
          <br>
          <br>
          <br>

        </mat-card>



      </mdb-carousel-item>

    </mdb-carousel>

  </div>
  </div>
  <br>

  <div>
    <section>
      Followers: {{userGoal.goalStartNumber}}
      <mat-slider style="pointer-events: none;"
                  class="example-margin2"
                  [disabled]="disabled"
                  [invert]="invert"
                  [max]="max"
                  [min]="min"
                  [step]="step"
                  [thumbLabel]="thumbLabel"
                  [tickInterval]="getSliderTickInterval()"
                  [(ngModel)]="value"
                  [vertical]="vertical">
      </mat-slider>
      <span> Goal: {{userGoal.goalEndNumber}}</span>

    </section>
  </div>
</mat-card>
</div>
<ng-template #notShow>
  <h1>Go to the account information page to log into your twitter account</h1>
</ng-template>
<br>
<div>



</div>
<div></div>
