<!--<h2 class="header">-->
<!--  Snapshot Dashboard-->
<!--</h2>-->


<!--<div class="row">-->


<!--  <mat-card class="example-card headerImage">-->
<!--    <div *ngIf="isVisibleSpinner">-->
<!--      <mat-spinner color="accent" strokeWidth="2" [diameter]="100"-->
<!--                   style="width: 200px; height: 200px; margin-left: 40%;"></mat-spinner>-->
<!--    </div>-->
<!--    <div *ngIf="this.isVisible">-->
<!--      <mat-card-header>-->
<!--        &lt;!&ndash;    <mat-card-actions>&ndash;&gt;-->
<!--        &lt;!&ndash;      <button style=" display: block;  margin-left: auto; margin-right: auto;"  mat-button><span class="instaIcon"></span></button>&ndash;&gt;-->
<!--        &lt;!&ndash;    </mat-card-actions>&ndash;&gt;-->


<!--        <img routerLink="/instagram" mat-card-avatar [src]="instagramUser.profilePicUrl">-->
<!--        <mat-card-title>{{instagramUser.displayName}}</mat-card-title>-->
<!--        <span class="instaIcon"></span>-->

<!--        <strong style="padding-right: 5px;">-->
<!--          <animated-digit style="font-size: 20px" [digit]="instagramUser.followerCount"-->
<!--                          [duration]="1000"></animated-digit>-->
<!--          Followers</strong>-->
<!--        <span class="text-muted">  </span>-->

<!--        <span class="text-muted"> </span>-->
<!--        <strong>-->
<!--          <animated-digit style="font-size: 20px" [digit]="instagramUser.followingCount"-->
<!--                          [duration]="1000"></animated-digit>-->
<!--          Following</strong>-->
<!--      </mat-card-header>-->


<!--      <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">-->

<!--        <mdb-carousel-item *ngFor='let in of counterInstagram(18) ;let i = index'>-->
<!--          <img style="width: 300px; height: 300px; display: block;  margin-left: auto; margin-right: auto;"-->
<!--               alt="First Slide" [src]="getImageUrl(i)">-->

<!--        </mdb-carousel-item>-->
<!--      </mdb-carousel>-->
<!--    </div>-->

<!--  </mat-card>-->


<!--  <mat-card class="basic-card-small2">-->
<!--    <div *ngIf="twitterHandleFound else notShow">-->
<!--      <br>-->

<!--      <div class="outer-header"> {{twitterHandle}}'s Twitter Snapshot-->
<!--        <div class="space">-->
<!--          <div class="followers-header3">-->

<!--									<span class="followers-header2"> <div *ngIf="twitterFollowerCount != -1">-->
<!--                    Twitter Followers: {{twitterFollowerCount}}-->

<!--</div>-->
<!--                  </span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="flex-column">-->
<!--        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">-->

<!--          <mdb-carousel-item>-->
<!--            <mat-card class="recent-post-card">-->

<!--              <h2 class="header">Most recent post</h2>-->
<!--              <div class="posttweettacontainer2">-->

<!--                <div *ngIf="briefStatus != null else spin" class="status">-->
<!--                  <div *ngIf="briefStatus else spin" class="status">-->

<!--                    <b>{{briefStatus.handle}}</b> <span-->
<!--                    style="color:#808080"> @{{briefStatus.screenName}} {{' * '}} {{briefStatus.createdAt.substring(0, 10)}} </span>-->
<!--                    <br>-->
<!--                    {{briefStatus.text}} <br>-->
<!--                    <div class="icons-twitter">-->
<!--                      <mat-icon class="repeat">repeat</mat-icon>-->
<!--                      {{briefStatus.retweetCount}} {{'          '}}-->
<!--                      <mat-icon class="circle">favorite_border</mat-icon>-->
<!--                      {{briefStatus.favoriteCount}}-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <ng-template #spin>-->
<!--                  &lt;!&ndash;                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>&ndash;&gt;-->
<!--                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->

<!--                </ng-template>-->
<!--                <br>-->
<!--                <div>-->
<!--                  <br>-->
<!--                </div>-->
<!--              </div>-->
<!--              <br>-->
<!--              <br>-->
<!--              <br>-->

<!--            </mat-card>-->

<!--          </mdb-carousel-item>-->

<!--          <mdb-carousel-item>-->

<!--            <mat-card class="recent-post-card">-->

<!--              <h2 class="header">Most Favorited Post</h2>-->
<!--              <div class="posttweettacontainer2">-->

<!--                <div *ngIf="briefStatus != null else spin" class="status">-->
<!--                  <div *ngIf="briefStatus else spin" class="status">-->

<!--                    <b>{{otherMostFavorited.handle}}</b> <span-->
<!--                    style="color:#808080"> @{{otherMostFavorited.screenName}} {{' * '}} {{otherMostFavorited.createdAt.substring(0, 10)}} </span>-->
<!--                    <br>-->
<!--                    {{otherMostFavorited.text}} <br>-->
<!--                    <div class="icons-twitter">-->
<!--                      <mat-icon class="repeat">repeat</mat-icon>-->
<!--                      {{otherMostFavorited.retweetCount}} {{'          '}}-->
<!--                      <mat-icon class="circle">favorite_border</mat-icon>-->
<!--                      {{otherMostFavorited.favoriteCount}}-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <ng-template #spin>-->
<!--                  &lt;!&ndash;                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>&ndash;&gt;-->
<!--                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->

<!--                </ng-template>-->
<!--                <br>-->
<!--                <div>-->
<!--                  <br>-->

<!--                </div>-->
<!--              </div>-->
<!--              <br>-->
<!--              <br>-->
<!--              <br>-->

<!--            </mat-card>-->


<!--          </mdb-carousel-item>-->

<!--          <mdb-carousel-item>-->

<!--            <mat-card class="recent-post-card">-->

<!--              <h2 class="header">Most Retweeted Post</h2>-->
<!--              <div class="posttweettacontainer2">-->

<!--                <div *ngIf="briefStatus != null else spin" class="status">-->
<!--                  <div *ngIf="briefStatus else spin" class="status">-->

<!--                    <b>{{otherMostRetweeted.handle}}</b> <span-->
<!--                    style="color:#808080"> @{{otherMostRetweeted.screenName}} {{' * '}} {{otherMostRetweeted.createdAt.substring(0, 10)}} </span>-->
<!--                    <br>-->
<!--                    {{otherMostRetweeted.text}} <br>-->
<!--                    <div class="icons-twitter">-->
<!--                      <mat-icon class="repeat">repeat</mat-icon>-->
<!--                      {{otherMostRetweeted.retweetCount}} {{'          '}}-->
<!--                      <mat-icon class="circle">favorite_border</mat-icon>-->
<!--                      {{otherMostRetweeted.favoriteCount}}-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <ng-template #spin>-->
<!--                  &lt;!&ndash;                <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>&ndash;&gt;-->
<!--                  <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->

<!--                </ng-template>-->

<!--                <br>-->
<!--                <div>-->
<!--                  <br>-->

<!--                </div>-->
<!--              </div>-->
<!--              <br>-->
<!--              <br>-->
<!--              <br>-->

<!--            </mat-card>-->


<!--          </mdb-carousel-item>-->

<!--        </mdb-carousel>-->

<!--      </div>-->
<!--    </div>-->
<!--    <br>-->

<!--    <div>-->
<!--      <section>-->
<!--        Followers: {{userGoal.goalStartNumber}}-->
<!--        <mat-slider style="pointer-events: none;"-->
<!--                    class="example-margin2"-->
<!--                    [disabled]="disabled"-->
<!--                    [invert]="invert"-->
<!--                    [max]="max"-->
<!--                    [min]="min"-->
<!--                    [step]="step"-->
<!--                    [thumbLabel]="thumbLabel"-->
<!--                    [tickInterval]="getSliderTickInterval()"-->
<!--                    [(ngModel)]="value"-->
<!--                    [vertical]="vertical">-->
<!--        </mat-slider>-->
<!--        <span> Goal: {{userGoal.goalEndNumber}}</span>-->

<!--      </section>-->
<!--    </div>-->
<!--  </mat-card>-->


<!--  &lt;!&ndash;</div>&ndash;&gt;-->

<!--  &lt;!&ndash; the top &ndash;&gt;-->
<!--  &lt;!&ndash;<h1 align="center" style="padding-top: 40px; font-size: 30px;"> {{getUsername()}} My Dashboard</h1>&ndash;&gt;-->
<!--  &lt;!&ndash;<div id="snapshot">&ndash;&gt;-->
<!--  &lt;!&ndash;  <div style="margin-bottom: 10px; padding-bottom: 10px; width: 70px; background-color: whitesmoke; border-radius: 5px; padding-top: 10px;">&ndash;&gt;-->
<!--  &lt;!&ndash;    <img src="https://logos-world.net/wp-content/uploads/2020/04/YouTube-Emblem.png" style="width: 70px; height: 40px;">&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->

<!--  &lt;!&ndash;  <div style="display: flex; margin-top: 10px;">&ndash;&gt;-->
<!--  &lt;!&ndash;  <mat-card class = "example-card" style="float: left">&ndash;&gt;-->
<!--  &lt;!&ndash;    <mat-card-title>&ndash;&gt;-->
<!--  &lt;!&ndash;      <h1 class="title">Video Insights </h1>&ndash;&gt;-->
<!--  &lt;!&ndash;    </mat-card-title>&ndash;&gt;-->
<!--  &lt;!&ndash;      <mat-card-subtitle style="margin-top: 10px">&ndash;&gt;-->
<!--  &lt;!&ndash;        <mat-select [(value)]="selectedVideo" style="background-color: #f3f3f3; padding-bottom: 10px; border-radius: 5px">&ndash;&gt;-->
<!--  &lt;!&ndash;          <mat-option value = "mostRecent"> Most Recent </mat-option>&ndash;&gt;-->
<!--  &lt;!&ndash;          <mat-option value = "oldest"> Oldest </mat-option>&ndash;&gt;-->
<!--  &lt;!&ndash;          <mat-option value = "minLiked"> Least Liked Video </mat-option>&ndash;&gt;-->
<!--  &lt;!&ndash;          <mat-option value = "mostLiked"> Most Liked Video </mat-option>&ndash;&gt;-->
<!--  &lt;!&ndash;          <mat-option value = "mostViewed"> Most Viewed </mat-option>&ndash;&gt;-->
<!--  &lt;!&ndash;          <mat-option value = "leastViewed"> Least Viewed </mat-option>&ndash;&gt;-->
<!--  &lt;!&ndash;          <mat-option value = "leastDisliked"> Least Disliked Video </mat-option>&ndash;&gt;-->
<!--  &lt;!&ndash;          <mat-option value = "mostDisliked"> Most Disliked Video </mat-option>&ndash;&gt;-->
<!--  &lt;!&ndash;        </mat-select>&ndash;&gt;-->
<!--  &lt;!&ndash;      </mat-card-subtitle>&ndash;&gt;-->
<!--  &lt;!&ndash;      <mat-card-content style="background-color: transparent; padding-top: 10px; padding-left: 15px; padding-right: 15px;">&ndash;&gt;-->
<!--  &lt;!&ndash;        <iframe frameborder="0" *ngIf="selectedVideo == 'mostRecent'" mat-card-image width="325" height="210" [src]="channel.videos[0].videoId | safe"  allowfullscreen> </iframe>&ndash;&gt;-->
<!--  &lt;!&ndash;        <iframe frameborder="0" *ngIf="selectedVideo == 'oldest'" mat-card-image width="325" height="210" [src]="channel.videos[channel.videos.length - 1].videoId | safe" allowfullscreen> </iframe>&ndash;&gt;-->
<!--  &lt;!&ndash;        <iframe frameborder="0" *ngIf="selectedVideo == 'minLiked'" mat-card-image width="325" height="210" [src]="channel.videos[getIndexOfMinLikes()].videoId | safe" allowfullscreen> </iframe>&ndash;&gt;-->
<!--  &lt;!&ndash;        <iframe frameborder="0" *ngIf="selectedVideo == 'mostLiked'" mat-card-image width="325" height="210" [src]="channel.videos[getIndexOfMaxLikes()].videoId | safe" allowfullscreen> </iframe>&ndash;&gt;-->
<!--  &lt;!&ndash;        <iframe frameborder="0" *ngIf="selectedVideo == 'mostViewed'" mat-card-image width="325" height="210" [src]="channel.videos[getIndexOfMaxViews()].videoId | safe" allowfullscreen> </iframe>&ndash;&gt;-->
<!--  &lt;!&ndash;        <iframe frameborder="0" *ngIf="selectedVideo == 'leastViewed'" mat-card-image width="325" height="210" [src]="channel.videos[getIndexOfMinViews()].videoId | safe" allowfullscreen> </iframe>&ndash;&gt;-->
<!--  &lt;!&ndash;        <iframe frameborder="0" *ngIf="selectedVideo == 'leastDisliked'" mat-card-image width="325" height="210" [src]="channel.videos[getIndexOfMinDislikes()].videoId | safe" allowfullscreen> </iframe>&ndash;&gt;-->
<!--  &lt;!&ndash;        <iframe frameborder="0" *ngIf="selectedVideo == 'mostDisliked'" mat-card-image width="325" height="210" [src]="channel.videos[getIndexOfMaxDislikes()].videoId | safe" allowfullscreen> </iframe>&ndash;&gt;-->
<!--  &lt;!&ndash;      </mat-card-content>&ndash;&gt;-->
<!--  &lt;!&ndash;    </mat-card>&ndash;&gt;-->
<!--  &lt;!&ndash;    <div>&ndash;&gt;-->
<!--  &lt;!&ndash;        <mat-card class="example-card" style="margin-left: 40px; margin-right: 0;">&ndash;&gt;-->
<!--  &lt;!&ndash;          <h1 class="title"> Channel Insights</h1>&ndash;&gt;-->
<!--  &lt;!&ndash;          <mat-card-title>&ndash;&gt;-->
<!--  &lt;!&ndash;            <img mat-card-avatar [src]="channel.profilePhoto">&ndash;&gt;-->
<!--  &lt;!&ndash;            {{channel.username}}&ndash;&gt;-->
<!--  &lt;!&ndash;          </mat-card-title>&ndash;&gt;-->

<!--  &lt;!&ndash;          <mat-card-content style="border-top:1px solid red;">&ndash;&gt;-->
<!--  &lt;!&ndash;            <h3> Subscriber Count: {{channel.subscriberCount}}</h3>&ndash;&gt;-->
<!--  &lt;!&ndash;            <h3> View Count: {{channel.viewCount}}</h3>&ndash;&gt;-->
<!--  &lt;!&ndash;            <h3> Video Count: {{channel.videoCount}}</h3>&ndash;&gt;-->
<!--  &lt;!&ndash;          </mat-card-content>&ndash;&gt;-->

<!--  &lt;!&ndash;        </mat-card>&ndash;&gt;-->

<!--  &lt;!&ndash;      </div>&ndash;&gt;-->
<!--  &lt;!&ndash;  </div>&ndash;&gt;-->


<!--  &lt;!&ndash;  <h3>The Social Hub</h3>&ndash;&gt;-->
<!--  &lt;!&ndash;  &lt;!&ndash;<div class="grid grid-pad">&ndash;&gt;&ndash;&gt;-->
<!--  &lt;!&ndash;  &lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--  &lt;!&ndash;  <mat-card class="example-card">&ndash;&gt;-->
<!--  &lt;!&ndash;    <mat-card-header>&ndash;&gt;-->
<!--  &lt;!&ndash;      <img mat-card-avatar [src]= "instagramUser.profilePicUrl" >&ndash;&gt;-->
<!--  &lt;!&ndash;      <mat-card-title>{{instagramUser.displayName}}</mat-card-title>&ndash;&gt;-->
<!--  &lt;!&ndash;      <mat-card-subtitle><img style="width: 10px" src="images/instagramIcon.png">Instagram Page</mat-card-subtitle>&ndash;&gt;-->
<!--  &lt;!&ndash;    </mat-card-header>&ndash;&gt;-->
<!--  &lt;!&ndash;    <mdb-carousel  class="carousel slide carousel-fade"  [animation]="'fade'">&ndash;&gt;-->

<!--  &lt;!&ndash;      <mdb-carousel-item  *ngFor='let in of counter(18) ;let i = index'>&ndash;&gt;-->
<!--  &lt;!&ndash;        <img style="width: 200px; height: 200px; display: block;  margin-left: auto; margin-right: auto;" alt="First Slide" [src]="getImageUrl(i)" >&ndash;&gt;-->

<!--  &lt;!&ndash;      </mdb-carousel-item>&ndash;&gt;-->
<!--  &lt;!&ndash;    </mdb-carousel>&ndash;&gt;-->
<!--  &lt;!&ndash;    <mat-card-content style=" display: block;  margin-left: auto; margin-right: auto;">&ndash;&gt;-->

<!--  &lt;!&ndash;      <strong><animated-digit [digit]="instagramUser.followerCount" [duration]="1000"></animated-digit>Followers</strong>&ndash;&gt;-->
<!--  &lt;!&ndash;      <span style="padding-right: 50px" class="text-muted">  </span>&ndash;&gt;-->

<!--  &lt;!&ndash;      <br>&ndash;&gt;-->
<!--  &lt;!&ndash;      <span style="padding: 50px" class="text-muted"> </span>&ndash;&gt;-->
<!--  &lt;!&ndash;      <strong style="padding-top: 50px"><animated-digit [digit]="instagramUser.followingCount" [duration]="1000"></animated-digit> Following</strong>&ndash;&gt;-->

<!--  &lt;!&ndash;    </mat-card-content>&ndash;&gt;-->
<!--  &lt;!&ndash;    <mat-card-actions>&ndash;&gt;-->
<!--  &lt;!&ndash;      <button style=" display: block;  margin-left: auto; margin-right: auto;" routerLink="/instagram" mat-button>Instagram Page</button>&ndash;&gt;-->
<!--  &lt;!&ndash;    </mat-card-actions>&ndash;&gt;-->
<!--  &lt;!&ndash;  </mat-card>&ndash;&gt;-->

<!--  &lt;!&ndash;                <mdb-carousel-item >&ndash;&gt;-->
<!--  &lt;!&ndash;                  <mat-card  class="basic-card">&ndash;&gt;-->
<!--  &lt;!&ndash;&lt;!&ndash;                    <h2>{{showingOther.toString()}}</h2>&ndash;&gt;&ndash;&gt;-->

<!--  &lt;!&ndash;                    <div class="posttweettacontainer2">&ndash;&gt;-->

<!--  &lt;!&ndash;                      <b>{{otherMostFavorited.handle}}</b> <span style="color:#808080"> @{{otherMostFavorited.screenName}} {{' * '}} {{otherMostFavorited.createdAt.substring(0, 10)}} </span>&ndash;&gt;-->
<!--  &lt;!&ndash;                      <br>&ndash;&gt;-->
<!--  &lt;!&ndash;                      {{otherMostFavorited.text}} <br>&ndash;&gt;-->

<!--  &lt;!&ndash;                      <mat-icon class="repeat">repeat</mat-icon> {{otherMostFavorited.retweetCount}} {{'          '}}<mat-icon class="circle" [ngStyle]="{'color':'red'}">favorite_border</mat-icon> {{otherMostFavorited.favoriteCount}}&ndash;&gt;-->
<!--  &lt;!&ndash;                      <ng-template #spin>&ndash;&gt;-->
<!--  &lt;!&ndash;                        <mat-progress-bar mode="indeterminate"></mat-progress-bar>&ndash;&gt;-->
<!--  &lt;!&ndash;                      </ng-template>&ndash;&gt;-->
<!--  &lt;!&ndash;                      <br>&ndash;&gt;-->
<!--  &lt;!&ndash;                      <br>&ndash;&gt;-->

<!--  &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--  &lt;!&ndash;                    <section class="example-section">&ndash;&gt;-->
<!--  &lt;!&ndash;                      <div class="dispblk2">&ndash;&gt;-->
<!--  &lt;!&ndash;									<span class="followers"> <div *ngIf="otherNumFollowers !== null">&ndash;&gt;-->
<!--  &lt;!&ndash;                    Followers: {{otherNumFollowers}}&ndash;&gt;-->
<!--  &lt;!&ndash;</div>&ndash;&gt;-->
<!--  &lt;!&ndash;                  </span>&ndash;&gt;-->
<!--  &lt;!&ndash;                      </div>&ndash;&gt;-->
<!--  &lt;!&ndash;                    </section>&ndash;&gt;-->
<!--  &lt;!&ndash;                  </mat-card>&ndash;&gt;-->

<!--  &lt;!&ndash;                </mdb-carousel-item>&ndash;&gt;-->
<!--  &lt;!&ndash;                <mat-card class="recent-post-card">&ndash;&gt;-->

<!--  &lt;!&ndash;                  <h2>Most recent post</h2>&ndash;&gt;-->
<!--  &lt;!&ndash;                  <div class="posttweettacontainer2">&ndash;&gt;-->

<!--  &lt;!&ndash;                    <div *ngIf="briefStatus != null else spin" class="status">&ndash;&gt;-->
<!--  &lt;!&ndash;                      <div *ngIf="briefStatus else spin" class="status">&ndash;&gt;-->

<!--  &lt;!&ndash;                        <b>{{briefStatus.handle}}</b> <span style="color:#808080"> @{{briefStatus.screenName}} {{' * '}} {{briefStatus.createdAt.substring(0, 10)}} </span>&ndash;&gt;-->
<!--  &lt;!&ndash;                        <br>&ndash;&gt;-->
<!--  &lt;!&ndash;                        {{briefStatus.text}} <br>&ndash;&gt;-->
<!--  &lt;!&ndash;                        <div class="icons-twitter">&ndash;&gt;-->
<!--  &lt;!&ndash;                          <mat-icon class="repeat">repeat</mat-icon> {{briefStatus.retweetCount}} {{'          '}}<mat-icon class="circle">favorite_border</mat-icon> {{briefStatus.favoriteCount}}&ndash;&gt;-->
<!--  &lt;!&ndash;                        </div>&ndash;&gt;-->
<!--  &lt;!&ndash;                      </div>&ndash;&gt;-->
<!--  &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--  &lt;!&ndash;                    <ng-template #spin>&ndash;&gt;-->
<!--  &lt;!&ndash;                      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>&ndash;&gt;-->
<!--  &lt;!&ndash;                    </ng-template>&ndash;&gt;-->
<!--  &lt;!&ndash;                    <br>&ndash;&gt;-->
<!--  &lt;!&ndash;                    <div>&ndash;&gt;-->
<!--  &lt;!&ndash;                      <br>&ndash;&gt;-->
<!--  &lt;!&ndash;                      <span class="dispblk2">&ndash;&gt;-->
<!--  &lt;!&ndash;									<span class="followers"> <div *ngIf="twitterFollowerCount != -1">&ndash;&gt;-->
<!--  &lt;!&ndash;                    Followers: {{twitterFollowerCount}}&ndash;&gt;-->
<!--  &lt;!&ndash;</div></span>&ndash;&gt;-->
<!--  &lt;!&ndash;								</span>&ndash;&gt;-->
<!--  &lt;!&ndash;                    </div>&ndash;&gt;-->
<!--  &lt;!&ndash;                  </div>&ndash;&gt;-->
<!--  &lt;!&ndash;                  <br>&ndash;&gt;-->
<!--  &lt;!&ndash;                  <br>&ndash;&gt;-->
<!--  &lt;!&ndash;                  <br>&ndash;&gt;-->

<!--  &lt;!&ndash;                </mat-card>&ndash;&gt;-->
<!--  &lt;!&ndash;                <mdb-carousel-item >&ndash;&gt;-->


<!--  &lt;!&ndash;                  <div>&ndash;&gt;-->
<!--  &lt;!&ndash;                    <mat-card  class="recent-post-card">&ndash;&gt;-->
<!--  &lt;!&ndash;                      <h2>Most favorited post</h2>&ndash;&gt;-->

<!--  &lt;!&ndash;                      &lt;!&ndash;    <h2>{{showingOther.toString()}}</h2>&ndash;&gt;&ndash;&gt;-->

<!--  &lt;!&ndash;                      <div class="posttweettacontainer2">&ndash;&gt;-->
<!--  &lt;!&ndash;                                              <b>{{otherMostFavorited.handle}}</b> <span style="color:#808080"> @{{otherMostFavorited.screenName}} {{' * '}} {{otherMostFavorited.createdAt.substring(0, 10)}} </span>&ndash;&gt;-->
<!--  &lt;!&ndash;                                              <br>&ndash;&gt;-->
<!--  &lt;!&ndash;                                              {{otherMostFavorited.text}} <br>&ndash;&gt;-->

<!--  &lt;!&ndash;                                              <mat-icon class="repeat">repeat</mat-icon> {{otherMostFavorited.retweetCount}} {{'          '}}<mat-icon class="circle" [ngStyle]="{'color':'red'}">favorite_border</mat-icon> {{otherMostFavorited.favoriteCount}}&ndash;&gt;-->

<!--  &lt;!&ndash;                                                <br>&ndash;&gt;-->
<!--  &lt;!&ndash;                                                <br>&ndash;&gt;-->


<!--  &lt;!&ndash;                                              <section class="example-section">&ndash;&gt;-->
<!--  &lt;!&ndash;                                                <div class="dispblk2">&ndash;&gt;-->
<!--  &lt;!&ndash;                                                            <span class="followers"> <div *ngIf="otherNumFollowers !== null">&ndash;&gt;-->
<!--  &lt;!&ndash;                                                              Followers: {{otherNumFollowers}}&ndash;&gt;-->
<!--  &lt;!&ndash;                                          </div>&ndash;&gt;-->
<!--  &lt;!&ndash;                                                            </span>&ndash;&gt;-->
<!--  &lt;!&ndash;                                                </div>&ndash;&gt;-->
<!--  &lt;!&ndash;                                              </section>&ndash;&gt;-->
<!--  &lt;!&ndash;                      </div>&ndash;&gt;-->
<!--  &lt;!&ndash;                                            </mat-card>&ndash;&gt;-->
<!--  &lt;!&ndash;                                          </div>&ndash;&gt;-->
<!--  &lt;!&ndash;                                        </mdb-carousel-item>&ndash;&gt;-->
<!--  &lt;!&ndash;        <mat-card class="recent-post-card">&ndash;&gt;-->

<!--  &lt;!&ndash;          <h2>Most recent post</h2>&ndash;&gt;-->
<!--  &lt;!&ndash;          <div class="posttweettacontainer2">&ndash;&gt;-->

<!--  &lt;!&ndash;            <div *ngIf="briefStatus != null else spin" class="status">&ndash;&gt;-->
<!--  &lt;!&ndash;              <div *ngIf="briefStatus else spin" class="status">&ndash;&gt;-->

<!--  &lt;!&ndash;                <b>{{briefStatus.handle}}</b> <span style="color:#808080"> @{{briefStatus.screenName}} {{' * '}} {{briefStatus.createdAt.substring(0, 10)}} </span>&ndash;&gt;-->
<!--  &lt;!&ndash;                <br>&ndash;&gt;-->
<!--  &lt;!&ndash;                {{briefStatus.text}} <br>&ndash;&gt;-->
<!--  &lt;!&ndash;                <div class="icons-twitter">&ndash;&gt;-->
<!--  &lt;!&ndash;                  <mat-icon class="repeat">repeat</mat-icon> {{briefStatus.retweetCount}} {{'          '}}<mat-icon class="circle">favorite_border</mat-icon> {{briefStatus.favoriteCount}}&ndash;&gt;-->
<!--  &lt;!&ndash;                </div>&ndash;&gt;-->
<!--  &lt;!&ndash;              </div>&ndash;&gt;-->
<!--  &lt;!&ndash;            </div>&ndash;&gt;-->
<!--  &lt;!&ndash;            <ng-template #spin>&ndash;&gt;-->
<!--  &lt;!&ndash;              <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>&ndash;&gt;-->
<!--  &lt;!&ndash;            </ng-template>&ndash;&gt;-->
<!--  &lt;!&ndash;            <br>&ndash;&gt;-->
<!--  &lt;!&ndash;            <div>&ndash;&gt;-->
<!--  &lt;!&ndash;              <br>&ndash;&gt;-->
<!--  &lt;!&ndash;              <span class="dispblk2">&ndash;&gt;-->
<!--  &lt;!&ndash;									<span class="followers"> <div *ngIf="twitterFollowerCount != -1">&ndash;&gt;-->
<!--  &lt;!&ndash;                    Followers: {{twitterFollowerCount}}&ndash;&gt;-->
<!--  &lt;!&ndash;</div></span>&ndash;&gt;-->
<!--  &lt;!&ndash;								</span>&ndash;&gt;-->
<!--  &lt;!&ndash;            </div>&ndash;&gt;-->
<!--  &lt;!&ndash;          </div>&ndash;&gt;-->
<!--  &lt;!&ndash;          <br>&ndash;&gt;-->
<!--  &lt;!&ndash;          <br>&ndash;&gt;-->
<!--  &lt;!&ndash;          <br>&ndash;&gt;-->

<!--  &lt;!&ndash;        </mat-card>&ndash;&gt;-->


<!--  &lt;!&ndash;<div>&ndash;&gt;-->
<!--  &lt;!&ndash;  <mat-card  class="basic-card">&ndash;&gt;-->
<!--  &lt;!&ndash;&lt;!&ndash;    <h2>{{showingOther.toString()}}</h2>&ndash;&gt;&ndash;&gt;-->

<!--  &lt;!&ndash;    <div class="posttweettacontainer2">&ndash;&gt;-->

<!--  &lt;!&ndash;      <b>{{otherMostFavorited.handle}}</b> <span style="color:#808080"> @{{otherMostFavorited.screenName}} {{' * '}} {{otherMostFavorited.createdAt.substring(0, 10)}} </span>&ndash;&gt;-->
<!--  &lt;!&ndash;      <br>&ndash;&gt;-->
<!--  &lt;!&ndash;      {{otherMostFavorited.text}} <br>&ndash;&gt;-->

<!--  &lt;!&ndash;      <mat-icon class="repeat">repeat</mat-icon> {{otherMostFavorited.retweetCount}} {{'          '}}<mat-icon class="circle" [ngStyle]="{'color':'red'}">favorite_border</mat-icon> {{otherMostFavorited.favoriteCount}}&ndash;&gt;-->
<!--  &lt;!&ndash;      <ng-template #spin>&ndash;&gt;-->
<!--  &lt;!&ndash;        <mat-progress-bar mode="indeterminate"></mat-progress-bar>&ndash;&gt;-->
<!--  &lt;!&ndash;      </ng-template>&ndash;&gt;-->
<!--  &lt;!&ndash;      <br>&ndash;&gt;-->
<!--  &lt;!&ndash;      <br>&ndash;&gt;-->

<!--  &lt;!&ndash;    </div>&ndash;&gt;-->
<!--  &lt;!&ndash;    <section class="example-section">&ndash;&gt;-->
<!--  &lt;!&ndash;      <div class="dispblk2">&ndash;&gt;-->
<!--  &lt;!&ndash;									<span class="followers"> <div *ngIf="otherNumFollowers !== null">&ndash;&gt;-->
<!--  &lt;!&ndash;                    Followers: {{otherNumFollowers}}&ndash;&gt;-->
<!--  &lt;!&ndash;</div>&ndash;&gt;-->
<!--  &lt;!&ndash;                  </span>&ndash;&gt;-->
<!--  &lt;!&ndash;      </div>&ndash;&gt;-->
<!--  &lt;!&ndash;    </section>&ndash;&gt;-->
<!--  &lt;!&ndash;  </mat-card>&ndash;&gt;-->
<!--  &lt;!&ndash;</div>&ndash;&gt;-->
<!--  &lt;!&ndash;<h3>The Social Hub</h3>&ndash;&gt;-->
<!--  &lt;!&ndash;&lt;!&ndash;<div class="grid grid-pad">&ndash;&gt;&ndash;&gt;-->
<!--  &lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->
<!--  &lt;!&ndash;<mat-card class="example-card">&ndash;&gt;-->
<!--  &lt;!&ndash;  <mat-card-header>&ndash;&gt;-->
<!--  &lt;!&ndash;    <img mat-card-avatar [src]= "instagramUser.profilePicUrl" >&ndash;&gt;-->
<!--  &lt;!&ndash;    <mat-card-title>{{instagramUser.displayName}}</mat-card-title>&ndash;&gt;-->
<!--  &lt;!&ndash;  </mat-card-header>&ndash;&gt;-->
<!--  &lt;!&ndash;  <mdb-carousel  class="carousel slide carousel-fade"  [animation]="'fade'">&ndash;&gt;-->

<!--  &lt;!&ndash;    <mdb-carousel-item  *ngFor='let in of counterInstagram(18) ;let i = index'>&ndash;&gt;-->
<!--  &lt;!&ndash;      <img style="width: 200px; height: 200px; display: block;  margin-left: auto; margin-right: auto;" alt="First Slide" [src]="getImageUrl(i)" >&ndash;&gt;-->

<!--  &lt;!&ndash;    </mdb-carousel-item>&ndash;&gt;-->
<!--  &lt;!&ndash;  </mdb-carousel>&ndash;&gt;-->
<!--  &lt;!&ndash;  <mat-card-content style=" display: block;  margin-left: auto; margin-right: auto;">&ndash;&gt;-->

<!--  &lt;!&ndash;    <strong><animated-digit [digit]="instagramUser.followerCount" [duration]="1000"></animated-digit>Followers</strong>&ndash;&gt;-->
<!--  &lt;!&ndash;    <span style="padding-right: 50px" class="text-muted">  </span>&ndash;&gt;-->

<!--  &lt;!&ndash;    <br>&ndash;&gt;-->
<!--  &lt;!&ndash;    <span style="padding: 50px" class="text-muted"> </span>&ndash;&gt;-->
<!--  &lt;!&ndash;    <strong style="padding-top: 50px"><animated-digit [digit]="instagramUser.followingCount" [duration]="1000"></animated-digit> Following</strong>&ndash;&gt;-->

<!--  &lt;!&ndash;  </mat-card-content>&ndash;&gt;-->
<!--  &lt;!&ndash;  <mat-card-actions>&ndash;&gt;-->
<!--  &lt;!&ndash;    <button style=" display: block;  margin-left: auto; margin-right: auto;" routerLink="/instagram" mat-button>Instagram Page</button>&ndash;&gt;-->
<!--  &lt;!&ndash;  </mat-card-actions>&ndash;&gt;-->
<!--  &lt;!&ndash;</mat-card>&ndash;&gt;-->
<!--  <div>-->
<!--    <div id="snapshot">-->
<!--      <div style="display: flex;">-->
<!--        <div-->
<!--          style="margin-bottom: 10px; padding-bottom: 10px; width: 70px; background-color: whitesmoke; border-radius: 5px; padding-top: 10px;">-->
<!--          <img src="https://logos-world.net/wp-content/uploads/2020/04/YouTube-Emblem.png"-->
<!--               style="width: 70px; height: 40px;">-->
<!--        </div>-->
<!--        <h2 style="font-size: 20px; color: #f3f3f3; margin-left: 20%; margin-top: 10px;">-->
<!--          {{channel.username}}-->
<!--        </h2>-->
<!--      </div>-->
<!--      <div>-->
<!--        <mat-card class="example-card-youtube">-->
<!--          <mat-card-title>-->
<!--            <h1 style="color: black;" align="center"> Youtube Snapshot </h1>-->
<!--          </mat-card-title>-->
<!--          <mat-card-subtitle>-->
<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label> Select an Option</mat-label>-->
<!--              <mat-select [(value)]="selected" style="background-color: #f3f3f3; border-radius: 5px;">-->
<!--                <mat-option value="video"> Videos</mat-option>-->
<!--                <mat-option value="channelInsights"> Channel Insights</mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
<!--          </mat-card-subtitle>-->
<!--          <mat-card-content>-->
<!--            <mat-card *ngIf="selected == 'video'">-->
<!--              <mat-card-subtitle>-->
<!--                <mat-select [(value)]="selectedVideo" style="background-color: #f3f3f3">-->
<!--                  <mat-option value="mostRecent"> Most Recent</mat-option>-->
<!--                  <mat-option value="oldest"> Oldest</mat-option>-->
<!--                  <mat-option value="minLiked"> Least Liked Video</mat-option>-->
<!--                  <mat-option value="mostLiked"> Most Liked Video</mat-option>-->
<!--                  <mat-option value="mostViewed"> Most Viewed</mat-option>-->
<!--                  <mat-option value="leastViewed"> Least Viewed</mat-option>-->
<!--                  <mat-option value="leastDisliked"> Least Disliked Video</mat-option>-->
<!--                  <mat-option value="mostDisliked"> Most Disliked Video</mat-option>-->
<!--                </mat-select>-->
<!--              </mat-card-subtitle>-->
<!--              <mat-card-content>-->
<!--                <iframe *ngIf="selectedVideo == 'mostRecent'" mat-card-image width="325" height="210"-->
<!--                        [src]="channel.videos[0].videoId | safe" allowfullscreen></iframe>-->
<!--                <iframe *ngIf="selectedVideo == 'oldest'" mat-card-image width="325" height="210"-->
<!--                        [src]="channel.videos[channel.videos.length - 1].videoId | safe" allowfullscreen></iframe>-->
<!--                <iframe *ngIf="selectedVideo == 'minLiked'" mat-card-image width="325" height="210"-->
<!--                        [src]="channel.videos[getIndexOfMinLikes()].videoId | safe" allowfullscreen></iframe>-->
<!--                <iframe *ngIf="selectedVideo == 'mostLiked'" mat-card-image width="325" height="210"-->
<!--                        [src]="channel.videos[getIndexOfMaxLikes()].videoId | safe" allowfullscreen></iframe>-->
<!--                <iframe *ngIf="selectedVideo == 'mostViewed'" mat-card-image width="325" height="210"-->
<!--                        [src]="channel.videos[getIndexOfMaxViews()].videoId | safe" allowfullscreen></iframe>-->
<!--                <iframe *ngIf="selectedVideo == 'leastViewed'" mat-card-image width="325" height="210"-->
<!--                        [src]="channel.videos[getIndexOfMinViews()].videoId | safe" allowfullscreen></iframe>-->
<!--                <iframe *ngIf="selectedVideo == 'leastDisliked'" mat-card-image width="325" height="210"-->
<!--                        [src]="channel.videos[getIndexOfMinDislikes()].videoId | safe" allowfullscreen></iframe>-->
<!--                <iframe *ngIf="selectedVideo == 'mostDisliked'" mat-card-image width="325" height="210"-->
<!--                        [src]="channel.videos[getIndexOfMaxDislikes()].videoId | safe" allowfullscreen></iframe>-->
<!--              </mat-card-content>-->
<!--            </mat-card>-->
<!--            <div *ngIf="selected == 'channelInsights'">-->
<!--              <mat-card>-->

<!--                <mat-card-title>-->
<!--                  <img mat-card-avatar [src]="channel.profilePhoto">-->
<!--                  {{channel.username}}-->
<!--                </mat-card-title>-->

<!--                <mat-card-content style="border-top:1px solid red;">-->
<!--                  <h3> Subscriber Count: {{channel.subscriberCount}}</h3>-->
<!--                  <h3> View Count: {{channel.viewCount}}</h3>-->
<!--                  <h3> Video Count: {{channel.videoCount}}</h3>-->
<!--                </mat-card-content>-->

<!--              </mat-card>-->

<!--            </div>-->
<!--          </mat-card-content>-->
<!--          <a href="/youtube"> Youtube Page </a>-->
<!--        </mat-card>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<!--<ng-template #notShow>-->
<!--  <h1>Go to the account information page to log into your twitter account</h1>-->
<!--</ng-template>-->
<!--<br>-->
<!--<div>-->

<!--</div>-->
<div>
  <mat-card class="spotify_snapshot">
    <mat-card-header>
      <img mat-card-avatar [src]="spotifyUser.imageUrl">
      <mat-card-title>
        <div class="spotify_snapshot_header">
          {{spotifyUser.displayName}}
          <!--        <button mat-button style="display: block;  margin-left: auto;"><span-->
          <!--          class="spotifyIcon"></span>-->
          <!--        </button>-->
        </div>
      </mat-card-title>


    </mat-card-header>
    <mat-card-content>
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Recently Played" class="spotify_recently_played_tab">
          <table class="songlist">
            <tr>
              <td *ngFor="let track of spotifyUserRecentTracks; let i = index;" class="tracksData">
                <mat-card class="spotify_recent_tracks_card">
                  <mat-card-content class="spotify_recent_tracks_content">
                    <img src="{{track.album.imageUrl}}" width="125">
                    <div fxLayout="column">
                      <h1
                        style="font-size: 16px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -6%;">
                        {{track.name}}</h1>
                      <h4
                        style="font-size: 11px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -25%;">
                      <span style="font-size:12px;"
                            *ngFor="let item of track.artistInfo | keyvalue">{{item.value}} </span>
                      </h4>
                    </div>
                  </mat-card-content>
                </mat-card>
              </td>
            </tr>
          </table>
        </mat-tab>
        <mat-tab label="Favourites" class="spotify_favourites_tab">
          <table class="songlist">
            <tr>
              <td *ngFor="let track of spotifyUserFavouriteTracks; let i = index;" class="tracksData">
                <mat-card class="spotify_favourite_tracks_card">
                  <mat-card-content class="spotify_favourite_tracks_content">
                    <img src="{{track.album.imageUrl}}" width="125">
                    <div fxLayout="column">
                      <h1
                        style="font-size: 16px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -6%;">
                        {{track.name}}</h1>
                      <h4
                        style="font-size: 11px; white-space: nowrap; width: 120px; overflow: hidden; text-overflow: ellipsis; margin-top: -25%;">
                      <span style="font-size:12px;"
                            *ngFor="let item of track.artistInfo | keyvalue">{{item.value}} </span>
                      </h4>
                    </div>
                  </mat-card-content>
                </mat-card>
              </td>
            </tr>
          </table>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button style="display: block;  margin-left: auto; margin-right: auto; margin-top: -3%;"
              routerLink="/spotify"><span
        class="spotifyIcon"></span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

