
.example-card {
  width: 350px;
  height: 325px;
  margin-left: 5px;
  background-color: white;
  box-shadow: 0 0 5px black;
}

.example-header-image {
  background-size: cover;
}
.video {
  margin-left: 10px;
  margin-right: 10px;
}
#snapshot {
  border-radius: 25px;
  box-shadow: 0 0 5px grey;
  border: 2px solid lightgray;
  padding: 20px;
  margin-left: 10px;
  margin-top: 20px;
  max-width: 400px;
  height: 565px;
  background-image: linear-gradient(to right, red, darkred);
}
h3 {
  color: black;
  padding-top: 10px;
}
.title {
  color: black;
  text-align: center;
}

.basic-card{
  background-color: rgb(173, 216, 255);
  /*background-color: whitesmoke;*/

  border-radius: 5px;
  /* box-shadow: 0px 4px 14px --3px; */
  box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);
  /*width: 49%;*/
  /*width: 650px;*/

  width: 600px;
  padding-left: 50px;
}

.basic-card-goal{
  background-color: rgb(173, 216, 255);
  /*background-color: whitesmoke;*/

  border-radius: 5px;
  /* box-shadow: 0px 4px 14px --3px; */
  box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);
  /*width: 49%;*/
  /*width: 650px;*/

  width: 250px;
  /*padding-left: 20px;*/
  margin-left: 10px;
}
.basic-card-small2{
  background-color: rgb(173, 216, 255);
  /*background-color: whitesmoke;*/
  border-radius: 5px;
  /* box-shadow: 0px 4px 14px --3px; */
  box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);
  /*width: 49%;*/
  /*width: 650px;*/

  width: 380px;
  padding-left: 25px;
  /*margin-left: 25px;*/

}

.recent-post-card{
  background-color: white;
  border-radius: 5px;
  /* box-shadow: 0px 4px 14px --3px; */
  box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);
  /*width: 70%;*/
  width: 335px;
  height: 300px;

}

.goal-card {
  /*background-color: whitesmoke;*/
  border-radius: 5px;
  background-color: white;

  /* box-shadow: 0px 4px 14px --3px; */
  box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);
  /*width: 326px;*/
  /*width: 90%;*/
  height: 275px;
  padding-left: 5px;
}

/* Clear floats after the columns */
.row2:after {
  content: "";
  display: table;
  clear: both;

}

.flex-column {
  float: left;
  /*width: 50%;*/
  padding-left: 4px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.header{
  text-align: center;
}

.outer-header{
  text-align: center;
  padding-bottom: 10px;
  font-size: 16px;
}

.followers{
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 7px 16px; border-radius: 100px; border: 1px solid rgb(173, 216, 255); border-image: none; text-align: center; color: black; line-height: 20px; font-size: 14px; font-weight: bold; white-space: nowrap; position: relative; cursor: pointer; float: left; box-shadow: none; background-color: rgb(173, 216, 255);
  /*display: inline-block;*/
  /*width: 50px;*/
  /*border: 1px solid #000;*/
  /*text-align: center;*/
  margin-top: 15px;
  padding-top: 10px;
  cursor: default;

}

.status{
  /*font-size: 16px;*/
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.posttweettacontainer2{
  border-radius: 8px;  box-shadow: 0px 0px 0px 1px dodgerblue;  height: auto;
  width: 300px;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; position: center;*/

}

.circle{
  color: red;
  fill: red;

}

.icons-twitter {
  padding-top: 5px;
}

.mat-slider-horizontal {
  width: 100%;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.outer-basic-card{
  /*background-color: rgb(173, 216, 255);*/
  background-color: whitesmoke;

  border-radius: 5px;
  box-shadow: 0px 4px 14px -3px rgba(0, 0, 0, 0.7);

  width: 430px;
 margin-left: 10px;
}

.snapshot-title{
  text-align: center;
  position: center;
}

.followers-header2{
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*cursor: default;*/
  /*border: 2px solid #039be5;*/
  /*border-radius: 5px;*/
  /*width: 50%;*/
  /*position: center;*/
  padding-top: 10px;
  margin-top: 10px;
}

.followers-header3{
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 50%;
  /*position: center;*/
  margin-top: 30px;
  /*height: 50px;*/
  margin-bottom: 10px;

}
.example-spacer {
  flex: 1 1 auto;
}

.header-toolbar{
  /*background-color: #1da1f2;*/
  border-bottom-color: #1b1e21;
  border-color: #4e555b;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
  top: 18px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 12px;
  border-radius: 10px
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: blue;
}
.mat-accent .mat-slider-thumb {
  height: 30px;
  width: 30px;
  background-color: white;
  border: solid 2px gray;
  bottom: -20px;
  right: -20px;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
}

.mat-slider-horizontal {
  width: 200px;
  /*background-color: blue;*/

}

.mat-slider-vertical {
  height: 300px;
}

.space{
  padding-top: -20px;
  margin-top: -30px;
  text-align: center;
  position: center;
  margin-left: 95px;
  margin-bottom: -15px;
}

.example-card-youtube {
  width: 350px;
  height: 455px;
  background-color: white;
  box-shadow: 0 0 5px black;
}
