/* DashboardComponent's private CSS styles */
@import url(https://fonts.googleapis.com/css?family=Audiowide);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Khand);

[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 25px;
  font-family: Khand;
  font-weight: bold;
  color: black;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 25%;
}
.module {
  padding: 20px;
  text-align: center;
  color: #eee;
  max-height: 120px;
  min-width: 120px;
  background-color: #3f525c;
  border-radius: 2px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

.example-card {
  max-width: 400px;
  margin-left: 7px;
  background-image: linear-gradient(250deg, rgba(6,62,172,1) 5%, rgba(28,145,249,1) 42%, rgba(29,150,253,1) 44%, rgba(69,226,252,1) 95%);
}

.example-header-image {
  background-size: cover;
}
#title{
  color: black;
  font-family: Khand, Impact;
  font-size: 30px;
  font-weight: bold;
}

#subtitle{
  color: black;
  font-family: Khand, Impact;
  font-size: 17px;
}

li{
  color: black;
  font-family: Khand, Impact;
  font-size: 20px;
}

a{
  color: black;
  font-family: Khand, Impact;
  font-size: 20px;
  font-weight: bold;
}

a:hover{
  color: blue;
  font-family: Khand, Impact;
  font-size: 20px;
  font-weight: bold;
}

hr {
  border: 3px solid black;
  border-radius: 5px;
}

