<!--<div id="modal-content-wrapper">-->
<!--  <header id="modal-header">-->
<!--    <h1 id="modal-title">Are you sure you want to logout?</h1>-->
<!--  </header>-->
<!--  <section id="modal-body">-->
<!--    <p>If you logout bad things might happen, but don't mind me, I'm just the description in a modal...</p>-->
<!--  </section>-->
<!--  <footer id="modal-footer">-->
<!--    <button mat-raised-button id="modal-action-button" (click)="actionFunction()">Logout</button>-->
<!--    <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>-->
<!--  </footer>-->
<!--</div>-->


<!--<div *ngIf="!nextForm else showNextForm" class="full-box2">-->

<div id="login-box" >
<!--  <div class="left">-->
    <mat-horizontal-stepper #stepper class="stepper">

      <mat-step class="stepper-label" label="Register" [stepControl]="firstFormGroup" [editable]="false">
<!--        <p>Put down your phones.</p>-->
        <form [formGroup]="firstFormGroup">
            <form #userForm='ngForm' >
              <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">
                <mat-icon class="back-btn">arrow_back</mat-icon>

              </button>
                <h1 class="header" style="color: black">Create your account
                </h1>
                <div class="center3">

                  <input required #username type="text" [(ngModel)]="userModel.name"   (keypress)="omit_special_char($event)" name="userName" minlength="4" placeholder="Name" />
                  <div *ngIf="firstEmail.errors && (firstEmail.invalid || firstEmail.touched)">
                    <!--        <small class="text-danger" *ngIf="firstEmail.errors.required">Email is required</small>-->
                    <small class="text-danger" *ngIf="firstEmail.errors.pattern">Please provide a valid email address ex. speh@gmail.com</small>
                  </div>
                  <input #email type="text" placeholder="E-mail" #firstEmail="ngModel" [class.is-invalid]="firstEmail.invalid && firstEmail.touched" required
                         pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" name="primaryEmail"
                         [(ngModel)]="userModel.email" />
                  <!--      <input #email type="text" name="email" placeholder="E-mail" />-->
        <!--          <input #phoneNumber required [(ngModel)]="userModel.phoneNumber"  type="text" (keypress)="omit_special_char($event)" minlength="10" maxlength="12" name="phoneNumber" placeholder="Phone Number" />-->
                  <form [formGroup]="myForm">
                    <input type="password" minlength="4" matInput placeholder="Password" formControlName="password" required>
                    <!--          <small class="text-danger" *ngIf="myForm.hasError('required', 'password')">-->
                    <!--            Please enter a password-->
                    <!--          </small>-->
                    <small class="text-danger"*ngIf="myForm.hasError('notSame')">
                      Passwords do not match
                    </small>
                    <div></div>
                    <input type="password" required [(ngModel)]="userModel.password"  minlength="4" #password matInput placeholder="Confirm Password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                  </form>
        <div>
<!--          <button class="submit" mat-button matStepperNext>Next</button>-->
          <button [disabled]="userForm.invalid || myForm.invalid" class="submit"  (click)="signUp(username.value, password.value, email.value, stepper)" mat-button  style="color: #fff">Next</button>
          <div>
                <button mat-raised-button id="modal-cancel-btn" (click)="closeModal()">
                  <mat-icon class="back-btn1">arrow_back</mat-icon>

                </button>
          </div>
        </div>
                </div>
            </form>
        </form>
      </mat-step>
<!--      <div *ngIf="showMore">-->
      <div class="twitter-div">
      <mat-step label="Twitter"   disabled="!accountCreated" >
        <form [formGroup]="secondFormGroup">
        <h1 class="header" style="color: black">Connect your social media </h1>
          <h3>Enter your twitter handle to have your feed, follower count, and friend's feeds and most retweeted posts displayed. *You can also set up your social hub account to make posts for you. See the dev options in Account settings to learn more!</h3>
          <div class="center3">

            <input #twitterHandle type="text" name="twitterHandle" placeholder="@TwitterHandle" required/>


          <button class="submit" [disabled]="twitterHandle.value === ''"(click)="sendTwitterHandle(twitterHandle.value, stepper)">Next</button>
               <div class="skip-container">
<!--          <button mat-button matStepperPrevious>Back</button>-->
<!--          <button class="next" mat-button [disabled]="!twitterHandleFound" matStepperNext>Next</button>-->
        <button class="skip"  mat-button matStepperNext>Skip</button>
               </div>
      </div>
        </form>
      </mat-step>

      <mat-step label="Facebook">
        <h1 class="header" style="color: black">Connect your Facebook </h1>
        <h3>Enter your Facebook token to have your feed, pictures, and friend's feeds displayed.</h3>
<!--        <input #facebookToken type="text" name="facebookToken" placeholder="Facebook Token" formControlName="secondCtrl" required/>-->
        <input #facebookToken type="text" name="facebookToken" placeholder="Facebook Token"  required/>

        <button class="submit" (click)="sendFacebookToken(facebookToken.value)">Enter</button>
        <div>
          <button class="contact" mat-button matStepperPrevious>Back</button>
          <button mat-button [disabled]="!twitterHandleFound"  matStepperNext>Next</button>
          <button class="skip"  mat-button matStepperNext>Skip</button>
        </div>
      </mat-step>

      <mat-step label="Instagram">
        <h1 class="header" style="color: black">Connect your Instagram </h1>
        <h3>Enter your login to have your profile, pictures, and friend's instagram posts displayed.</h3>

        <input #instaUsername type="text" name="instaUsername" placeholder="Instagram Username" required/>
        <input #instaPassword type="text" name="instaPassword" placeholder="Instagram password" required/>

        <button class="submit" (click)="sendInstagramCredentials(instaUsername.value, instaPassword.value)">Enter</button>
       <div>
        <button class="contact" mat-button matStepperPrevious>Back</button>
        <button mat-button [disabled]="!twitterHandleFound"  matStepperNext>Next</button>
        <button class="skip"  mat-button matStepperNext>Skip</button>
       </div>
      </mat-step>

      <mat-step label="Spotify">
        <h1 class="header" style="color: black">Connect your Spotify </h1>
        <h3>Follow the link to authorize us to access your spotify playlists. Create new playlists</h3>
        <button class = "get-authorization-link" (click)="redirectToAuthorizationPage()">Authorize Access</button>
<!--        <button class="submit" (click)="sendFacebookToken(facebookToken.value)">Enter</button>-->
       <div>
        <button class="contact" mat-button matStepperPrevious>Back</button>
        <button mat-button [disabled]="!twitterHandleFound"  matStepperNext>Next</button>
        <button class="skip"   mat-button matStepperNext>Skip</button>
      </div>
      </mat-step>

      <mat-step label="Youtube">
        <h1 class="header" style="color: black">Connect your Youtube </h1>
        <h3>Enter your ???? to have your uploaded videos, liked playlists, and streams displayed.</h3>
        <input #facebookToken type="text" name="facebookToken" placeholder="Youtube Token"  required/>
<!--        <button class="submit" (click)="sendFacebookToken(facebookToken.value)">Enter</button>-->
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button [disabled]="!twitterHandleFound"   matStepperNext>Next</button>
        <button class="skip"  mat-button matStepperNext>Skip</button>
      </mat-step>

        <mat-step label="Finalize">
          <h1 class="header" style="color: black">All Done </h1>
          <h3>Start sharing <3</h3>
          <button mat-button matStepperPrevious>Back</button>
          <button class="skip"  mat-button (click)="completeStepper()">Share!</button>
        </mat-step>
<!--      </div>-->
      <!-- Icon overrides. -->
<!--      <ng-template matStepperIcon="phone">-->
<!--        <mat-icon>call_end</mat-icon>-->
<!--      </ng-template>-->

<!--      <ng-template matStepperIcon="chat">-->
<!--        <mat-icon>forum</mat-icon>-->
<!--      </ng-template>-->
      </div>
    </mat-horizontal-stepper>
</div>
<!--    <mat-horizontal-stepper linear #stepper>-->
<!--      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">-->
<!--    <form #userForm='ngForm'>-->
<!--      <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">-->
<!--        <mat-icon class="back-btn">arrow_back</mat-icon>-->

<!--      </button>-->
<!--        <h1 class="header">Register Account information below-->
<!--        </h1>-->
<!--        <div class="center3">-->

<!--          <input #username type="text" required [(ngModel)]="userModel.name"   (keypress)="omit_special_char($event)" name="userName" minlength="4" placeholder="Name" />-->
<!--          <div *ngIf="firstEmail.errors && (firstEmail.invalid || firstEmail.touched)">-->
<!--            &lt;!&ndash;        <small class="text-danger" *ngIf="firstEmail.errors.required">Email is required</small>&ndash;&gt;-->
<!--            <small class="text-danger" *ngIf="firstEmail.errors.pattern">Please provide a valid email address ex. speh@gmail.com</small>-->
<!--          </div>-->
<!--          <input #email type="text" placeholder="E-mail" #firstEmail="ngModel" [class.is-invalid]="firstEmail.invalid && firstEmail.touched" required-->
<!--                 pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" class="form-control" name="primaryEmail"-->
<!--                 [(ngModel)]="userModel.email" />-->
<!--          &lt;!&ndash;      <input #email type="text" name="email" placeholder="E-mail" />&ndash;&gt;-->
<!--&lt;!&ndash;          <input #phoneNumber required [(ngModel)]="userModel.phoneNumber"  type="text" (keypress)="omit_special_char($event)" minlength="10" maxlength="12" name="phoneNumber" placeholder="Phone Number" />&ndash;&gt;-->
<!--          <form [formGroup]="myForm">-->
<!--            <input type="password" minlength="4" matInput placeholder="Password" formControlName="password" required>-->
<!--            &lt;!&ndash;          <small class="text-danger" *ngIf="myForm.hasError('required', 'password')">&ndash;&gt;-->
<!--            &lt;!&ndash;            Please enter a password&ndash;&gt;-->
<!--            &lt;!&ndash;          </small>&ndash;&gt;-->
<!--            <small class="text-danger"*ngIf="myForm.hasError('notSame')">-->
<!--              Passwords do not match-->
<!--            </small>-->
<!--            <div></div>-->
<!--            <input type="password" required [(ngModel)]="userModel.password"  minlength="4" #password matInput placeholder="Confirm Password" formControlName="confirmPassword" [errorStateMatcher]="matcher">-->
<!--          </form>-->
<!--        </div>-->
<!--        <div class="create-account-btn">-->

<!--          <button [disabled]="userForm.invalid || myForm.invalid" class="submit"  (click)="next(username.value, password.value, email.value)">Next</button>-->
<!--          <div>-->
<!--&lt;!&ndash;              <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>&ndash;&gt;-->
<!--        </div>-->
<!--        </div>-->
<!--    </form>-->
<!--      </mat-step>-->
<!--    </mat-horizontal-stepper>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
<ng-template #showNextForm>
  Onto the next form
</ng-template>
<!--<mat-horizontal-stepper linear #stepper>-->
<!--  <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">-->
<!--    <form [formGroup]="firstFormGroup">-->
<!--      <ng-template matStepLabel>Fill out your name</ng-template>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Name</mat-label>-->
<!--        <input matInput formControlName="firstCtrl" placeholder="Last name, First name" required>-->
<!--      </mat-form-field>-->
<!--      <div>-->
<!--        <button mat-button matStepperNext>Next</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </mat-step>-->
<!--  <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">-->
<!--    <form [formGroup]="secondFormGroup">-->
<!--      <ng-template matStepLabel>Fill out your address</ng-template>-->
<!--      <mat-form-field>-->
<!--        <mat-label>Address</mat-label>-->
<!--        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"-->
<!--               required>-->
<!--      </mat-form-field>-->
<!--      <div>-->
<!--        <button mat-button matStepperPrevious>Back</button>-->
<!--        <button mat-button matStepperNext>Next</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </mat-step>-->
<!--  <mat-step>-->
<!--    <ng-template matStepLabel>Done</ng-template>-->
<!--    <p>You are now done.</p>-->
<!--    <div>-->
<!--      <button mat-button matStepperPrevious>Back</button>-->
<!--      <button mat-button (click)="stepper.reset()">Reset</button>-->
<!--    </div>-->
<!--  </mat-step>-->
<!--</mat-horizontal-stepper>-->
